<h1>Super destaques</h1>
<% if @admin_super_highlights.present? %>
<table>
  <tr>
    <th>ID</th>
    <th>Título</th>
    <th>Subtitulo</th>
    <th>Slug</th>
    <th>Status</th>
    <th>Data ini</th>
    <th>Data fim</th>
    <th>Posição</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_super_highlights.each do |admin_super_highlight| %>
  <tr>
    <td><%= admin_super_highlight.id %></td>
    <td><%= admin_super_highlight.titulo %></td>
    <td><%= admin_super_highlight.subtitulo %></td>
    <td><%= admin_super_highlight.slug %></td>
    <td><%= status_to_sim_nao admin_super_highlight.status %></td>
    <td><%= admin_super_highlight.data_ini.strftime("%d/%m/%Y") %></td>
    <td><%= admin_super_highlight.data_fim.strftime("%d/%m/%Y") %></td>
    <td><%= admin_super_highlight.posicao %></td>
    <td><%= link_to 'Visualizar', [:admin,admin_super_highlight] %></td>
    <td><%= link_to 'Editar', edit_admin_super_highlight_path(admin_super_highlight) %></td>
    <td><%= link_to 'Excluir', [:admin,admin_super_highlight], confirm: 'Deseja realmente excluir?', method: :delete %></td>
  </tr>
<% end %>
</table>
<% else %>
  <div> Nenhum registro encontrado </div>
<% end %>
<br />

<%= link_to 'Novo super destaque', new_admin_super_highlight_path %>
