<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @admin_super_highlight.id %>
</p>
<p>
  <b>Título:</b>
  <%= @admin_super_highlight.titulo %>
</p>

<p>
  <b>Subtitulo:</b>
  <%= @admin_super_highlight.subtitulo %>
</p>

<p>
  <b>Slug:</b>
  <%= @admin_super_highlight.slug %>
</p>

<p>
  <b>Status:</b>
  <%= @admin_super_highlight.status %>
</p>

<p>
  <b>Data ini:</b>
  <%= @admin_super_highlight.data_ini.strftime("%d/%m/%Y") %>
</p>

<p>
  <b>Data fim:</b>
  <%= @admin_super_highlight.data_fim.strftime("%d/%m/%Y") %>
</p>

<p>
  <b>Posicao:</b>
  <%= @admin_super_highlight.posicao %>
</p>

<p>
    <%= image_tag @admin_super_highlight.image.url(:thumb) %>
</p>  


<%= link_to 'Editar', edit_admin_super_highlight_path(@admin_super_highlight) %> |
<%= link_to 'Voltar', admin_super_highlights_path %>
