<h1>Sistema de administração - Portal da fono</h1>

<% if flash[:notice] %>
	<p style="color: red; font-style: italic"><%= flash[:notice] %></p>
<% end %>

<%= form_tag('/admin/login/do_login') do -%>
	<%= label(:login, :email) %>
	<%= text_field(:login, :email, :size => 35) %>
	<%= label(:login, :senha) %>
	<%= password_field(:login, :senha, :size => 35)  %>
	<%= submit_tag 'Entrar' %>
 <% end -%>

