<h1>Listing super_highlights</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Subtitulo</th>
    <th>Slug</th>
    <th>Status</th>
    <th>Data ini</th>
    <th>Data fim</th>
    <th>Posicao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @super_highlights.each do |super_highlight| %>
  <tr>
    <td><%= super_highlight.titulo %></td>
    <td><%= super_highlight.subtitulo %></td>
    <td><%= super_highlight.slug %></td>
    <td><%= super_highlight.status %></td>
    <td><%= super_highlight.data_ini %></td>
    <td><%= super_highlight.data_fim %></td>
    <td><%= super_highlight.posicao %></td>
    <td><%= link_to 'Show', super_highlight %></td>
    <td><%= link_to 'Edit', edit_super_highlight_path(super_highlight) %></td>
    <td><%= link_to 'Destroy', super_highlight, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Super highlight', new_super_highlight_path %>
