<h1>Listing discussions</h1>

<table>
  <tr>
    <th>Autor</th>
    <th>Titulo</th>
    <th>Subtitulo</th>
    <th>Texto</th>
    <th>Data inicio</th>
    <th>Data fim</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @discussions.each do |discussion| %>
  <tr>
    <td><%= discussion.autor_id %></td>
    <td><%= discussion.titulo %></td>
    <td><%= discussion.subtitulo %></td>
    <td><%= discussion.texto %></td>
    <td><%= discussion.data_inicio %></td>
    <td><%= discussion.data_fim %></td>
    <td><%= discussion.status %></td>
    <td><%= link_to 'Show', discussion %></td>
    <td><%= link_to 'Edit', edit_discussion_path(discussion) %></td>
    <td><%= link_to 'Destroy', discussion, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Discussion', new_discussion_path %>
