<h1>Debates</h1>

<table>
  <tr>
    <th>Autor</th>
    <th>Titulo</th>
    <th>Subtitulo</th>
    <th>Texto</th>
    <th>Data inicio</th>
    <th>Data fim</th>
    <th></th>
  </tr>

<% @discussions.each do |discussion| %>
  <tr>
    <td><%= discussion.author.nome  %></td>
    <td><%= discussion.titulo %></td>
    <td><%= discussion.subtitulo %></td>
    <td><%= discussion.texto %></td>
    <td><%= discussion.data_inicio.strftime("%d/%m/%Y") %></td>
    <td><%= discussion.data_fim.strftime("%d/%m/%Y") %></td>
    <td><%= link_to 'Show', discussion %></td>

  </tr>
<% end %>
</table>

