<div class="divider_thin"></div>
<div class="grid_15 suffix_1 content">
  <div class="cat_title linha_laranja">
        <h2>Debates</h2> 
        <div class="clear"></div>
    </div>
        <div class="post-item">
          <div class="post-meta">
              <% if @discussions.count > 0 %>
                  <% @discussions.each do |discussions| %>
                      <div class="desc">
                          <div class="post-opts">
                              <div class="post-date">
                                  <h1><%= discussions.created_at.strftime("%d") %></h1>
                                  <h6> <%= mes_do_ano_em_portugues discussions.created_at.strftime("%b") %> <br> <%= discussions.created_at.strftime("%Y") %></h6>
                              </div>
                              <div class="post-cats">
                                  <p class="postby"><%= discussions.author.nome %></p>
                                  <p class="cats">
                                    <fb:comments-count href="<%= request.url + "/" + discussions.slug %>"></fb:comments-count>
                                    <%= link_to "opiniões" , discussion_path(discussions) + "#opine" %> 
                                 </p>
                              </div>
                              <div class="post-share">
                                  <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="verdana"></div> 
                              </div>
                          </div>
                          <div class="post-details">
                              <h5> <%= link_to discussions.titulo, discussions, :class=> "colr" %> </h5>
                                 <%= raw truncate discussions.texto , :length => 250 %>
                              <div class="padding_top_10">  
                                  <%= link_to "Faça seus comentários", discussions, :class=> "link-more" %>
                              </div> 
                          </div>
                      </div>
               <% end %> 
               <% else %>
                   Nenhum debate encontrado
                <% end %>  
          </div>
    </div>
</div>



