<p id="notice"><%= notice %></p>

<p>
  <b>Autor:</b>
  <%= @discussion.author.nome %>
</p>

<p>
  <b>Titulo:</b>
  <%= @discussion.titulo %>
</p>

<p>
  <b>Subtitulo:</b>
  <%= @discussion.subtitulo %>
</p>

<p>
  <b>Texto:</b>
  <%= @discussion.texto %>
</p>

<p>
  <b>Data inicio:</b>
  <%= @discussion.data_inicio.strftime("%d/%m/%Y") %>
</p>

<p>
  <b>Data fim:</b>
  <%= @discussion.data_fim.strftime("%d/%m/%Y") %>
</p>


<%= link_to 'Back', discussions_path %>
