  <div class="divider_thin"></div>
  <div class="grid_15 suffix_1 content">
    <div class="cat_title linha_laranja back_post">
      <%= link_to "Veja todos os debates", "/debates", :class => "link-back" %> 

      <div class="social_buttons_top">
         <div class="fb-like" 
         data-send="true" data-layout="button_count" 
         data-width="450" data-show-faces="false" data-font="verdana"></div> 
      </div>
      <div class="clear"></div>
    </div>
    <div class="post-item post-detail">
      <h1><%= @discussion.titulo %></h1>
      <p> <%= @discussion.subtitulo %> </p>
      <div class="post-meta">
        <span class="icon_cat icon_cat_blog">
            <fb:comments-count href="<%= request.url %>"></fb:comments-count>
            <%= link_to "opiniões" , "#opine" %>  
        </span>
        <span class="postby"> <%= @discussion.author.nome %> </span> 
        <div style="margin-top:3px"> &nbsp; | &nbsp;  início: <%= @discussion.data_inicio.strftime("%d/%m/%Y") %> 
        até:  <%= @discussion.data_fim.strftime("%d/%m/%Y") %> </div>

      </div>
      <div class="entry">
        <p>  <%= @discussion.texto %> </p>
        <div class="clear"></div>
      </div>
    </div>
    <div class="add-comment" id="addcomments">
      <% if current_user.present? %>
        <div class="cat_title back_post">
          <h3> <a name="opine"> Deixe sua opinião </a> </h3> 
        </div>
        <div class="fb-comments" data-href="<%= request.url %>" data-num-posts="10" data-width="590"></div> 
      <% else %>
        <div class="cat_title back_post">
           <h3> <a name="opine"> Para comentar, você precisa fazer o login </a></h3>
        </div>
        <div class="block_doubt_facebook">
          <div class="facebook-login"> <a href="/auth/facebook"> &nbsp; </a> </div>
        </div>  
      <% end %>    
    </div>     
                      
  </div>