<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>portaldafono.com</title>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="background-color:#ededed">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td valign="top" align="center">
        <table width="546" border="0" cellspacing="0" cellpadding="0" style="background-color:#ffffff">
          <tr>
            <td><img src="<%= @url %>/mails/mailer_topo.jpg" /> </td> 
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td valign="top" align="center">
        <table width="546" border="0" cellspacing="0" cellpadding="0" style="background-color:#ffffff" >
          <tr>
            <td align="center">
              <p style="font-size:34px; font-family:Tahoma, Geneva, sans-serif; color:#252525; line-height:25px; font-weight:bold">
                Ol&aacute;, <%= @user.nome %>
              </p>
              <p style="font-size:22px; font-family:Tahoma, Geneva, sans-serif; color:#252525; line-height:35px;">
                Bem-vindo ao <a href="http://portaldafono.com" style="color:#000;">Portaldafono.com</a>!
                <br />Estamos muito felizes por você estar aqui. </p>  
              <p style="height:1px;"></p>                  
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td valign="top" align="center">
        <table width="546" border="0" cellspacing="0" cellpadding="8" style="background-color:#ffffff">
          <tr>
            <td width="8"> </td>
            <td width="530" align="center" style="background:#fff0e4">
              <p style="font-size:18px; font-family:Tahoma, Geneva, sans-serif; color:#84562f;">
                Para comentar nos debates ou enviar sua dúvida, você só precisa efetuar o login com sua conta do Facebook. 
              </p>
                    
            </td> 
            <td width="8"> </td>                                               
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td valign="top" align="center">
        <table width="546" border="0" cellspacing="0" cellpadding="10" style="background-color:#ffffff" >
          <tr>
            <td></td>
          </tr>
          <tr>
            <td width="12"> </td> 
            <td  width="220">
              <p style="font-size:20px; font-family:Tahoma, Geneva, sans-serif; color:#252525; line-height:10px">
                E-mail confirmado
              </p>
              <p style="font-size:13px; font-family:Tahoma, Geneva, sans-serif; color:#252525; line-height:20px">
                Você se cadastrou pelo Facebook e seu e-mail já está confirmado. Você já tem acesso a todas as funções.
              </p>
            </td>
            <td width="8"> </td> 
            <td  width="200">
              <p style="font-size:20px; font-family:Tahoma, Geneva, sans-serif; color:#252525;">
                O que vamos oferecer?
              </p>
              <p style="font-size:13px; font-family:Tahoma, Geneva, sans-serif; color:#252525;">
                No portal da fono, você ficará ligado em tudo que rola no mundo da fonoaudiologia. Mande sua dúvida, participe dos debates. Acesse:
                <a href="<%= @url %>" style="color:#ef7600; text-decoration:underline">portaldafono.com</a>.
              </p>
            </td>
            <td width="8"> </td> 
          </tr>
          <tr>
            <td></td>
          </tr>                  
        </table>
      </td>
    </tr>
    <tr>
      <td valign="top" align="center">
        <table width="546" border="0" cellspacing="0" cellpadding="0" style="background-color:#cbcbcb">
          <tr>
            <td height="5"> </td>
          </tr>
        </table>
      </td>
    </tr>   
    <tr>
      <td valign="top" align="center">
        <table width="546" border="0" cellspacing="0" cellpadding="10" style="background-color:#252525" >
          <tr>
            <td width="12"> </td> 
            <td  width="260">
              <p style="font-size:11px; font-family:Tahoma, Geneva, sans-serif; color:#ababab; line-height:10px">
                Copyright &copy; 2012 <a href="<%= @url %>" style="color:#ababab;">Portaldafono.com</a>
              </p>
              <p style="font-size:11px; font-family:Tahoma, Geneva, sans-serif; color:#ababab; line-height:10px">
                <strong>Anuncie</strong> <a href="<%= @url %>/anuncie" style="color:#ababab; text-decoration:underline">portaldafono.com/anuncie</a>
              </p>
              <p style="font-size:11px; font-family:Tahoma, Geneva, sans-serif; line-height:10px">
                <a href="<%= @url %>/termos-de-uso" style="color:#ababab; text-decoration:underline">Termos de uso</a> 
              </p>   
            </td>                    
            <td width="8"> </td> 
            <td  width="200">
              <p style="height:22px"></p>
              <p style="font-size:14px; font-family:Tahoma, Geneva, sans-serif; line-height:10px">
                <a href="<%= @url %>" style="color:#e4e4e4; text-decoration:underline">Acessar o Portaldafono.com</a>
              </p>
            </td>
            <td width="8"> </td> 
          </tr>
        </table>
      </td>
    </tr>   
  </table>
</body>
</html>