<h1>Listing super_destaques</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Subtitulo</th>
    <th>Slug</th>
    <th>Status</th>
    <th>Data ini</th>
    <th>Data fim</th>
    <th>Posicao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @super_destaques.each do |super_destaque| %>
  <tr>
    <td><%= super_destaque.titulo %></td>
    <td><%= super_destaque.subtitulo %></td>
    <td><%= super_destaque.slug %></td>
    <td><%= super_destaque.status %></td>
    <td><%= super_destaque.data_ini %></td>
    <td><%= super_destaque.data_fim %></td>
    <td><%= super_destaque.posicao %></td>
    <td><%= link_to 'Show', super_destaque %></td>
    <td><%= link_to 'Edit', edit_super_destaque_path(super_destaque) %></td>
    <td><%= link_to 'Destroy', super_destaque, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Super destaque', new_super_destaque_path %>
