<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @super_destaque.titulo %>
</p>

<p>
  <b>Subtitulo:</b>
  <%= @super_destaque.subtitulo %>
</p>

<p>
  <b>Slug:</b>
  <%= @super_destaque.slug %>
</p>

<p>
  <b>Status:</b>
  <%= @super_destaque.status %>
</p>

<p>
  <b>Data ini:</b>
  <%= @super_destaque.data_ini %>
</p>

<p>
  <b>Data fim:</b>
  <%= @super_destaque.data_fim %>
</p>

<p>
  <b>Posicao:</b>
  <%= @super_destaque.posicao %>
</p>


<%= link_to 'Edit', edit_super_destaque_path(@super_destaque) %> |
<%= link_to 'Back', super_destaques_path %>
