<div class="divider_thin"></div>
<div class="grid_15 suffix_1 content">
    <div class="cat_title linha_vermelha">
        <h2>Entrevistas</h2> 
        <div class="clear"></div>
    </div>
    <div class="post-item">
        <div class="post-meta">
            <% if @interviews.count > 0 %>
                <% @interviews.each do |entrevista| %>
                    <div class="desc">
                        <div class="post-opts">
                            <div class="post-date">
                                <h1><%= entrevista.created_at.strftime("%d") %></h1>
                                <h6> <%= mes_do_ano_em_portugues entrevista.created_at.strftime("%b") %> <br> <%= entrevista.created_at.strftime("%Y") %></h6>
                            </div>
                            <div class="post-cats">
                                <p class="cats">
                                    <fb:comments-count href="<%= request.url + "/" + entrevista.slug %>"></fb:comments-count>
                                    <%= link_to "comentários" , interview_path(entrevista) + "#comente" %>   
                                </p>
                            </div>
                            <div class="post-share">
                                <div class="fb-like" data-send="false" data-layout="button_count" data-href="<%= request.url + "/" + entrevista.slug %>"  data-width="450" data-show-faces="false" data-font="verdana"></div> 
                            </div>
                        </div>
                        <div class="post-details">
                            <h5> <%= link_to entrevista.nome_entrevistado, entrevista, :class=> "colr" %> </h5>
                            <div class="padding_top_10">  
                                <%= link_to "veja a entrevista na íntegra", entrevista, :class=> "link-more" %>
                            </div> 
                        </div>
                    </div>
             <% end %> 
             <% else %>
                 Nenhuma notícia encontrada
              <% end %>  
        </div>
    </div>
</div>


