<div class="divider_thin"></div>
  <div class="grid_15 suffix_1 content">
    <div class="cat_title back_post">
      <%= link_to "Veja todos as entrevistas", "/entrevistas", :class => "link-back" %>
      <div class="social_buttons_top">
          <div class="fb-like" 
            data-send="true" data-layout="button_count" 
            data-width="450" data-show-faces="false" data-font="verdana"></div> 
      </div>
      <div class="clear"></div>
    </div>
    <div class="post-item post-detail">
      <h1><%= @interviews.nome_entrevistado %></h1>
      <div class="post-meta">
        <span class="icon_cat icon_cat_blog">
          <fb:comments-count href="<%= request.url %>"></fb:comments-count>
          <%= link_to "comentários" , "#comente" %>  
        </span>
        <em>em &nbsp; <%= @interviews.created_at.strftime("%d/%m/%Y") %> </em>
      </div>
      <div class="entry">
        <p> <strong> Quem é nosso entrevistado ? </strong> </p>
        <p>  <%= (@interviews.bio).html_safe %> </p>
        <div class="clear"></div>
      </div>
      <div class="entry">
        <p> <strong> Entrevista </strong> </p>
        <p>  <%= (@interviews.texto).html_safe %> </p>
        <div class="clear"></div>
      </div>
    </div>
    
  <div class="add-comment" id="addcomments">
    <div class="cat_title back_post"> <h3> <a name="comente"> Faça aqui seus comentários </a> </h3> </div>
    <div class="fb-comments" data-href="<%= request.url %>" data-num-posts="10" data-width="590"></div> 
  </div>
                      
  </div>





