<%= form_for [:admin, @admin_news] ,  :html => {:multipart=>true}  do |f| %>
  <% if @admin_news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_news.errors.count, "erro") %> encontrado(s):</h2>

      <ul>
      <% @admin_news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %> * <br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :subtitulo %><br />
    <%= f.text_field :subtitulo %>
  </div>
  <div class="field">
    <%= f.label :autor_id %> *<br />
    <%= select("news", "author_id", Author.all.collect {|p| [ p.nome, p.id ]}, :selected => @admin_news.author_id,  :prompt => 'Selecione um autor') %>
  </div>
  <div class="field">
    <%= f.label :texto %><br />
    <%= f.text_area :texto %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
     <%= select("news", "status",  hash_to_status , :selected => @admin_news.status,  :prompt => 'Selecione um status') %>
  </div>
  <div class="field">
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label "Imagem" %> *<br />
    <%= f.file_field :image %>
  </div>
  <div class="actions">
      <%= f.submit "Salvar" %>
  </div>
<% end %>
