<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @admin_news.titulo %>
</p>

<p>
  <b>Subtitulo:</b>
  <%= @admin_news.subtitulo %>
</p>

<p>
  <b>Autor:</b>
  <%= @admin_news.author.nome %>
</p>

<p>
  <b>Texto:</b>
  <%= @admin_news.texto %>
</p>

<p>
  <b>Status:</b>
  <%= status_to_string @admin_news.status %>
</p>

<p>
  <b>Data:</b>
  <%= @admin_news.data %>
</p>

<p>
    <%= image_tag @admin_news.image.url(:thumb) %>
</p>  


<%= link_to 'Editar', edit_admin_news_path(@admin_news) %> |
<%= link_to 'Voltar', admin_news_index_path %>
