<%= form_for [:admin, @admin_article] ,  :html => {:multipart=>true}  do |f| %>
    <% if @admin_article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@admin_article.errors.count, "erro") %> encontrado(s):</h2>
        <% @admin_article.errors.full_messages.each do |msg| %>
          <div class="message errormsg"><p><%= msg %></p></div>
        <% end %>
      </div>
  <% end %>
  <div class="field">
    <%= f.label :author_id, "Autor:" %> 
    <%= select("article", "author_id", Author.all.collect {|p| [ p.nome, p.id ]}, :selected => @admin_article.author_id,  :prompt => 'Selecione um autor') %>
    <span class="note"> Campo Obrigatório!</span>
 </div>
  <div class="field">
    <%= f.label :titulo, "Título*" %> 
    <%= f.text_field :titulo, :class => "text" %>
     <span class="note"> Campo Obrigatório!</span>
  </div>
  <div class="field">
    <%= f.label :subtitulo, "Subtitulo:" %>
    <%= f.text_field :subtitulo, :class => "text" %>
  </div>
<div class="field">
  <%= f.label :texto, "Texto*" %> 
  <%= f.text_area :texto, :class => "wysiwyg" %>
</div>
<div class="field">
  <%= f.label :palavras_chave, "Palavras-chave" %>
  <%= f.text_area :palavras_chave, :class => "text" %>
</div>
<div class="field">
  <%= f.label :destaque, "Destaque" %>
  <%= select("article", "destaque",  hash_to_sim_nao , :selected => @admin_article.destaque,  :prompt => 'Selecione') %>
</div>
<div class="field">
  <%= f.label "Imagem" %>
  <%= f.file_field :image %> 
</div>
<div class="field">
  <%= f.submit "Salvar", :class => "submit small" %>
</div>
<% end %>