<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @admin_article.id %>
</p>

<p>
  <b>Autor:</b>
  <%= @admin_article.author.nome %>
</p>

<p>
  <b>Titulo:</b>
  <%= @admin_article.titulo %>
</p>

<p>
  <b>Subtitulo:</b>
  <%= @admin_article.subtitulo %>
</p>

<p>
  <b>Texto:</b>
  <%= @admin_article.texto %>
</p>

<p>
  <b>Palavras chave:</b>
  <%= @admin_article.palavras_chave %>
</p>

<p>
  <b>Data:</b>
  <%= @admin_article.created_at.strftime("%d/%m/%Y") %>
</p>

<p>
    <%= image_tag @admin_article.image.url(:thumb) %>
</p>  


<%= link_to 'Editar', edit_admin_article_path(@admin_article) %> |
<%= link_to 'Voltar', admin_articles_path %>