<div class="block">
  <div class="block_head">
    <div class="bheadl"></div>
    <div class="bheadr"></div>
    <h2>Artigo > <%= @admin_article.slug %></h2>
    <ul class="tabs">
      <li><%= link_to 'Editar', edit_admin_article_path(@admin_article) %></li>
      <li><%= link_to 'Voltar', admin_articles_path %></li>
    </ul>
  </div>    
  <div class="block_content tab_content">
    <% if notice.present? %>
      <div id="notice" class="message success"><p><%= notice %></p></div>
    <% end %>
    <p> <strong>ID:</strong> <%= @admin_article.id %> </p>
    <p> <strong>Autor:</strong> <%= @admin_article.author.nome %> </p>
    <p> <strong>Titulo:</strong> <%= @admin_article.titulo %> </p>
    <p> <strong>Subtitulo:</strong> <%= @admin_article.subtitulo %> </p>
    <p> <strong>Texto:</strong> <%= @admin_article.texto %> </p>
    <p> <strong> Destaque:</strong> <%= @admin_article.destaque %> </p>
    <p> <strong>Palavras-chave:</strong> <%= @admin_article.palavras_chave %> </p>
    <p> <strong>Data:</strong> <%= @admin_article.created_at.strftime("%d/%m/%Y") %> </p>
    <p>
      <%= image_tag @admin_article.image.url(:thumb) %>
    </p>  
  </div>   
  <div class="bendl"></div>
  <div class="bendr"></div>

  </div>    <!-- .block ends -->