<h1>Artigos</h1>
<table>
  <tr>
    <th>Autor</th>
    <th>Título</th>
    <th>Subtitulo</th>
    <th>Texto</th>
    <th>Palavras chave</th>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.autor_id %></td>
    <td><%= article.titulo %></td>
    <td><%= article.subtitulo %></td>
    <td><%= article.texto %></td>
    <td><%= article.palavras_chave %></td>
    <td><%= article.data %></td>
    <td><%= link_to 'Show', article %></td>
  </tr>
<% end %>
</table>
