<div class="divider_thin"></div>
<div class="grid_15 suffix_1 content">
    <div class="cat_title linha_verde">
        <h2>Artigos</h2> 
        <div class="clear"></div>
    </div>
    <div class="post-item">
        <div class="post-meta">
            <% if @articles.count > 0 %>
                <% @articles.each do |article| %>
                    <div class="desc">
                        <div class="post-opts">
                            <div class="post-date">
                                <h1><%= article.created_at.strftime("%d") %></h1>
                                <h6> <%= mes_do_ano_em_portugues article.created_at.strftime("%b") %> <br/ > <%= article.created_at.strftime("%Y") %></h6>
                            </div>
                            <div class="post-cats">
                                <p class="postby"><%= article.author.nome %></p>
                                <p class="cats">
                                    <fb:comments-count href="<%= request.url + "/" + article.slug %>"></fb:comments-count>
                                    <%= link_to "comentários" , article_path(article) + "#comente" %> 
                                </p>
                            </div>
                            <div class="post-share">
                                <div class="fb-like" data-send="false" data-layout="button_count" data-href="<%= request.url + "/" + article.slug %>"  data-width="450" data-show-faces="false" data-font="verdana"></div> 
                            </div>
                        </div>
                        <div class="post-details">
                            <h5> <%= link_to article.titulo.mb_chars.downcase.normalize.capitalize, article, :class=> "colr" %> </h5>
                            <div class="padding_top_10">  
                                <%= link_to "veja o artigo", article, :class=> "link-more" %>
                            </div> 
                        </div>
                    </div>
             <% end %> 
             <% else %>
                 Nenhum artigo encontrado
              <% end %>  
        </div>    
    </div>
</div>









        