<p>
  <b>Autor:</b>
  <%= @article.author.nome  %>
</p>

<p>
  <b>Título:</b>
  <%= @article.titulo %>
</p>

<p>
  <b>Subtitulo:</b>
  <%= @article.subtitulo %>
</p>

<p>
  <b>Texto:</b>
  <%= @article.texto %>
</p>

<p>
  <b>Palavras-chave:</b>
  <%= @article.palavras_chave %>
</p>

<p>
  <b>Data:</b>
  <%= @article.created_at.strftime("%d/%m/%Y") %>
</p>