<div class="bottom_content">
    <div class="container_24">
        <div class="inner">
            <div class="grid_6">
                <div class="widget">
                    <ul class="menu_type_1">
                        <li><a href="/quem-somos">Quem somos</a></li>
                        <li><a href="/anuncie">Anuncie</a></li>
                        <li><a href="#">Twitter</a></li>
                         <li><a href="#">Facebook</a></li> 
                         <li><a href="#">RSS</a> <span class="red">em breve</span></li>  
                    </ul>
                </div>
            </div>
            <div class="grid_6">
                <div class="widget">
                    <h3>UNIVERSITÁRIOS</h3>
                    <ul class="menu_type_2">
                         <li><a href="/livros-recomendados">Livros recomendados</a> </li>
                         <li><a href="#">Cursos</a>  <span class="red">em breve</span> </li>
                         <li><a href="#">Faculdades</a> <span class="red">em breve</span> </li>
                         <li><a href="/o-que-e-fonoaudiologia">O que é fonoaudiologia? </a></li>
                          <li><a href="/links-uteis">Links úteis </a></li>
                    </ul>
                </div>
            </div>          
            <div class="grid_6">
                <div class="widget">
                    <h3>ARTIGOS EM DESTAQUE</h3>
                    <ul class="menu_type_2">
                        <% if @artigos_em_destaque.count > 0 %>
                            <% @artigos_em_destaque.each do |artigos| %>
                                <li><%= link_to artigos.titulo, artigos %></li>
                            <% end %>
                        <% else %>
                                <li>Nenhum artigo encontrad</li>
                        <% end %>
                    </ul>
                </div>
            </div>           
            <div class="grid_6">
                <div class="widget">
                    <h3>NOTÍCIAS EM DESTAQUE</h3>
                    <ul class="menu_type_2">
                        <% if @noticias_em_destaque.count > 0 %>
                            <% @noticias_em_destaque.each do |noticias| %>
                                <li><%= link_to noticias.titulo, noticias %></li>
                            <% end %>
                        <% else %>
                                <li>Nenhuma notícia encontrada</li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>    
    </div>
</div>
<div class="footer">
<div class="container_24">
    <div class="botmenu">
        <ul>
            <li class="first current-menu-item menu-item-home menu-gray"> 
                <%= link_to "/" do %>
                    <span>HOME</span>
                <% end %>
            </li>
            <li class="<%= controller.controller_name == 'news' ? 'menu-red-active' : 'menu-red' %>">
                <%= link_to "/noticias" do %>
                    <span>Notícias</span>
                <% end %>
            </li>
            <li class="<%= controller.controller_name == 'discussions' ? 'menu-orange-active' : 'menu-orange' %>">
                 <%= link_to "/debates" do %>
                    <span>Debates</span>
                <% end %>
            </li>
            <li class="<%= controller.controller_name == 'doubts' ? 'menu-yellow-active' : 'menu-yellow parent' %>">
                <%= link_to "/duvidas" do %>
                    <span>Dúvidas</span>
                <% end %>
            </li>
            <li class="<%= controller.controller_name == 'articles' ? 'menu-green-active' : 'menu-green' %>"> 
                 <%= link_to "/artigos" do %>
                    <span>Artigos</span>
                <% end %>
            </li>
            <li class="<%= controller.controller_name == 'interviews' ? 'menu-turquoise-active' : 'menu-turquoise' %>">
                <%= link_to "/entrevistas" do %>
                    <span>Entrevistas</span>
                <% end %>
            </li>  
            </li>
            <!-- <li class="menu-blue"><a href="#">Movies</a></li> -->
            <li class="<%= controller.controller_name == 'contacts' ? 'menu-purple-active' : 'menu-purple' %>">
                <%= link_to "/faleconosco" do %>
                    <span>Fale conosco</span>
                <% end %>  
            </li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="footer_logo"><a href="index.html"><img src="/images/logo_footer.png" width="117" height="37" alt="" /></a></div>
    <p class="copyright">&copy; 2012 Portal da fono. Veja nosso <%= link_to "Termos de uso", "/termos-de-uso" %> </p>
</div>
</div>