<div class="bottom_content">
    <div class="container_24">
        <div class="inner">
            <div class="grid_6">
                <div class="widget">
                    <ul class="menu_type_1">
                        <li><a href="/quem-somos">Quem somos</a></li>
                        <li><a href="/termos-de-uso">Termos de uso</a></li>
                        <li><a href="/anuncie">Anuncie</a></li>
                    </ul>
                </div>
            </div>
            <div class="grid_6">
                <div class="widget">
                    <ul class="menu_type_1">
                        <li><a href="#">Loja do portal da fono</a> <span class="red">em breve</span> </li>
                        <li><a href="#">Ofertas de emprego</a> <span class="red">em breve</span> </li>
                        <li><a href="#">Softwares</a> <span class="red">em breve</span> </li>
                    </ul>
                </div>
            </div>
            <div class="grid_6">
                <div class="widget">
                    <h3>ESTUDANTES</h3>
                    <ul class="menu_type_2">
                        <li><a href="/livros-recomendados">Livros recomendados</a> </li>
                        <li><a href="#">Concursos</a>  <span class="red">em breve</span> </li>
                        <li><a href="#">Faculdades</a> <span class="red">em breve</span> </li>
                        <li><a href="/o-que-e-fonoaudiologia" >O que é fonoaudiologia? </a></li>
                        <li><a href="/links-uteis"> Links úteis </a></li>
                        <li><a href="/historia-da-fonoaudiologia"> História da fonoaudiologia </a></li>
                        <li><a href="/guias-e-manuais"> Guias & Manuais </a></li>
                    </ul>
                </div>
            </div>          
            <div class="grid_6">
                <div class="widget">
                    <h3>PROFISSIONAIS</h3>
                    <ul class="menu_type_2">
                         <li><a href="/agenda">Agenda</a></li>
                         <li><a href="/manuais">Manuais</a></li>
                         <li><a href="/legislacao">Legislação</a></li>
                         <li> <a href= "/pdf/CPD.pdf" target="_blank"> Código de processo disciplinar </a> </li> 
                          <li> <a href= "/juramento-do-fonoaudiologo"> Juramento do fonoaudiologo </a> </li>
                    </ul>
                </div>
            </div> 
            <div class="clear"></div>
        </div>    
    </div>
</div>
<div class="footer">
<div class="container_24">
    <div class="botmenu">
        <ul>
            <li class="first current-menu-item menu-item-home menu-gray"> 
                <%= link_to "/" do %>
                    <span>HOME</span>
                <% end %>
            </li>
            <li class="<%= controller.controller_name == 'news' ? 'menu-red-active' : 'menu-red' %>">
                <%= link_to "/noticias" do %>
                    <span>Notícias</span>
                <% end %>
            </li>
            <li class="<%= controller.controller_name == 'discussions' ? 'menu-orange-active' : 'menu-orange' %>">
                 <%= link_to "/debates" do %>
                    <span>Debates</span>
                <% end %>
            </li>
            <li class="<%= controller.controller_name == 'doubts' ? 'menu-yellow-active' : 'menu-yellow parent' %>">
                <%= link_to "/duvidas" do %>
                    <span>Dúvidas</span>
                <% end %>
            </li>
            <li class="<%= controller.controller_name == 'articles' ? 'menu-green-active' : 'menu-green' %>"> 
                 <%= link_to "/artigos" do %>
                    <span>Artigos</span>
                <% end %>
            </li>
            <li class="<%= controller.controller_name == 'interviews' ? 'menu-turquoise-active' : 'menu-turquoise' %>">
                <%= link_to "/entrevistas" do %>
                    <span>Entrevistas</span>
                <% end %>
            </li>  
            </li>
            <!-- <li class="menu-blue"><a href="#">Movies</a></li> -->
            <li class="<%= controller.controller_name == 'contacts' ? 'menu-purple-active' : 'menu-purple' %>">
                <%= link_to "/faleconosco" do %>
                    <span>Fale conosco</span>
                <% end %>  
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="copyrights">
        <div style="width: 960px; margin: 0 auto; "> 
            <p class="copyright">&copy; 2012 Portal da fono. Veja nosso <%= link_to "Termo de uso", "/termos-de-uso" %> </p>
            <div class="clear"></div>
        </div>
    </div>
</div>