<div class="topmenu">
    <ul class="dropdown">
        <li class="first current-menu-item menu-item-home menu-gray"> 
            <%= link_to(@index) do %>
                <span>HOME</span>
            <% end %>
        </li>
        <li class="menu-red">
            <%= link_to "noticias" do %>
                <span>Notícias</span>
            <% end %>
        </li>
        <li class="menu-orange">
            <%= link_to "debates" do %>
                <span>Debates</span>
            <% end %>
        </li>
        <li class="menu-yellow parent">
            <%= link_to "duvidas" do %>
                <span>Dúvidas</span>
            <% end %>
        </li>
        <li class="menu-green">
            <%= link_to "artigos" do %>
                <span>Artigos</span>
            <% end %>
        </li>
       <!-- <li class="menu-turquoise">
        </li>
        <li class="menu-blue">
        </li> -->
        <li class="last menu-purple">
            <%= link_to "faleconosco" do %>
                <span>Fale conosco</span>
            <% end %>    
        </li>
    </ul> 
</div>