<div class="proximo-evento-box">
	<h3> Agenda </h3>
	<% @evento.each do |proximo_evento| %>
		<div class="data-do-proximo-evento">
    		<h1><%= proximo_evento.data.strftime("%d") %></h1>
            <h6> <%= mes_do_ano_em_portugues proximo_evento.data.strftime("%b") %> <br /> <%= proximo_evento.data.strftime("%Y") %> </h6>
    	</div>
    	<div class="texto-do-proximo-evento">
    		<p> <%= proximo_evento.titulo %>  </p>
    	</div>
    	<p class="link-para-proximo-evento"> <%= link_to "veja a agenda completa", "/agenda", :class=> "link-more" %> </p>
	<% end %> 
</div>	