<div id="feature_list">
    <ul id="feature_tabs">
        <% @superdestaques.each do |superdestaque| %>
    		<li>
            	<span class="link-title"><%= superdestaque.titulo %></span>
    			<div class="feature_cat"> 
                    <!-- <span class="icon_cat icon_cat_1">Photography</span> >-->  
                    <a href="blog-details.html" class="link-more">Leia mais</a></div>
    		</li>
    	  <% end %>	
	</ul>
	<ul id="feature_output">
        <% @superdestaques.each do |superdestaque| %>
            <% if not superdestaque.image.url(:medium) == "/images/medium/missing.png" %>
                <li> 
                    <%= image_tag superdestaque.image.url(:medium), :width => "960", :height => "325" %> 
                    <a href="blog-details.html"></a> 
                </li>
            <% end %>
        <% end %>    		
	</ul>
</div>	
<div class="divider_thin"></div>
<div class="grid_15 suffix_1 content">
    <div class="cat_title">
    	<h2>Notícias</h2> 
        <div class="clear"></div>
    </div>
    <div class="post-item">
        <% unless @noticia.blank? %>
            <h2> <%= link_to @noticia.titulo, @noticia  %> </h2>
            <div class="post-meta">
                <!-- <span class="icon_cat icon_cat_3"><a href="#">Music</a></span> -->
            	   <em>por <span class="author"><%= @noticia.author.nome %></span> &nbsp;|&nbsp; <%= @noticia.created_at.strftime("%d/%m/%Y") %> 
                    &nbsp;|&nbsp; <span class="icon_cat icon_cat_blog">20 comentários</span> 
   		   </div>
            <div class="entry">
                <p>
                    <% if not @noticia.image.url(:medium) == "/images/medium/missing.png" %>
                        <%= image_tag @noticia.image.url(:medium) %>  
                    <% end %>   
                    <%= @noticia.texto %> 
                </p>
                <div class="clear"></div>
		    </div>
            <%= link_to "Leia Mais", @noticia, :class => "link-more" %>
             
        <% end %>       
    </div>
    <!-- <div class="adv_mid_468x60">
        <img src="images/temp/adv_468x60.gif" width="468" height="60" alt="">
    </div> -->
    <div class="cat_title">
        <h2>Debate em destaque</h2> 
        <div class="clear"></div>
    </div>
    <div class="post-item">
        <% unless @debate.blank? %>
            <h2><%= link_to @debate.titulo, @debate %></h2>
            <div class="post-meta">
                <!-- <span class="icon_cat icon_cat_4"><a href="#">Movies</a></span> -->
                <em>por <span class="author"> <%= @debate.author.nome %> </span> &nbsp;|&nbsp; <%= @debate.data_inicio.strftime("%d/%m/%Y") %>
                 &nbsp;|&nbsp; <span class="icon_cat icon_cat_blog">20 opiniões</span> 
            </div>
            <div class="entry">
                <div class="clear"></div>
            </div>
             <%= link_to "Dê a sua opinião", @debate, :class => "link-more" %>
        <% end %>
    </div>
    <div class="cat_title">
        <h2>Dúvida enviada pelos usuários</h2> 
        <div class="clear"></div>
    </div>
    <div class="post-item">
        <% unless @duvida.blank? %>
            <div class="post-meta">
                <!-- <span class="icon_cat icon_cat_4"><a href="#">Movies</a></span> -->
                <div class="inner-quote">
                    <div class="quote-text">
                        <h2><%= @duvida.titulo %></h2>
                    </div>
                    <div class="quote-author">
                        <div><em> enviada por</em> <span class="author"><%= @duvida.user.nome %></span>, 
                        <%= @duvida.created_at.strftime("%d/%m/%Y") %>
                        | &nbsp; <a href="#" class="link-comments">6 comentários</a></div>  
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <%= link_to "Você concorda? Comente", @duvida, :class => "link-more" %>
        <% end %>    
    </div>
    <!-- <div class="other_posts">
    	<a href="#" class="prev">Older posts</a>
        <a href="#" class="next">Newer posts</a>
    </div> -->

</div>
  