<div id="feature_list">
    <ul id="feature_tabs">
        <% @superdestaques.each do |superdestaque| %>
    		<li>
            	<span class="link-title"><%= superdestaque.titulo %></span>
    			<div class="feature_cat"> 
                    <%= link_to "Leia mais", superdestaque.slug, :class=> "link-more", :title => "Clique para saber mais"  %>
                </div>
    		</li>
    	  <% end %>	
	</ul>
	<ul id="feature_output">
        <% @superdestaques.each do |superdestaque| %>
            <% if not superdestaque.image.url(:medium) == "/images/medium/missing.png" %>
                <li> 
                    <%= link_to ( image_tag superdestaque.image.url(:medium), :width => "960", :height => "325" ) , superdestaque.slug,  
                    :title => "Clique para saber mais" %> 
                </li>
            <% end %>
        <% end %>    		
	</ul>
</div>	
<div class="divider_thin"></div>
<div class="grid_15 suffix_1 content">
    <div class="cat_title">
    	<h2>Notícias</h2> 
        <div class="clear"></div>
    </div>
    <div class="post-item">
        <% unless @noticia.blank? %>
            <h2> <%= link_to @noticia.titulo, @noticia  %> </h2>
            <div class="post-meta">
                <span class="postby"><%= @noticia.author.nome %></span> 
                <div style="margin-top:3px"> &nbsp;|&nbsp;  <%= @noticia.created_at.strftime("%d/%m/%Y") %> &nbsp; </div>
                <span class="icon_cat icon_cat_blog"> 
                    <fb:comments-count href="<%= request.url + "/" + @noticia.slug %>"></fb:comments-count>  
                    <%= link_to "comentários" , news_path(@noticia) + "#comente" %>  
                </span> 
   		   </div>
            <div class="entry">
                <p>
                    <% if not @noticia.image.url(:medium) == "/images/medium/missing.png" %>
                        <%= image_tag @noticia.image.url(:medium), :class => "frame_left" %>  
                    <% end %>   
                    <%= raw truncate @noticia.texto , :length => 500 %> 
                </p>
                <div class="clear"></div>
		    </div>
            <%= link_to "Leia Mais", @noticia, :class => "link-more" %>
             
        <% end %>       
    </div>
    <%#= render :partial => "partials/advertisement/adv468x60" %>
    <div class="cat_title">
        <h2>Debate em destaque</h2> 
        <div class="clear"></div>
    </div>
    <div class="post-item">
        <% unless @debate.blank? %>
            <h2><%= link_to @debate.titulo, @debate %></h2>
            <div class="post-meta">
                <span class="postby"> <%= @debate.author.nome %> </span>
                <div style="margin-top:3px"> &nbsp;|&nbsp; <%= @debate.data_inicio.strftime("%d/%m/%Y") %> </div>
                <span class="icon_cat icon_cat_blog"> 
                    <fb:comments-count href="<%= request.url + "/" + @debate.slug %>"></fb:comments-count>  
                    <%= link_to "opiniões" , discussion_path(@debate) + "#opine" %>  
                </span>  
            </div>
            <div class="entry">
                <div class="clear"></div>
            </div>
             <%= link_to "Dê a sua opinião", @debate, :class => "link-more" %>
        <% end %>
    </div>
    <div class="cat_title">
        <h2>Dúvida enviada pelos usuários</h2> 
        <div class="clear"></div>
    </div>
    <div class="post-item">
        <% unless @duvida.blank? %>
            <div class="post-meta">
                <div class="inner-quote">
                    <div class="quote-text">
                        <h2><%= link_to @duvida.titulo, @duvida %></h2>
                    </div>
                    <div class="quote-author">
                        <div>
                            <span class="postby"> enviada por <%= @duvida.user.nome %> em <%= @duvida.created_at.strftime("%d/%m/%Y") %> </span>
                            <span class="icon_cat icon_cat_blog"> 
                                <fb:comments-count href="<%= request.url + "/" + @duvida.slug %>"></fb:comments-count>  
                                <%= link_to "comentários" , doubt_path(@duvida) + "#comente" %>  
                            </span>
                        </div>  
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <%= link_to "Você concorda? Comente", @duvida, :class => "link-more" %>
        <% end %>    
    </div>
</div>