<%= form_for [:admin, @admin_interview]  do |f| %>
  <% if @admin_interview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_interview.errors.count, "erro") %> encontrado(s):</h2>
      <% @admin_interview.errors.full_messages.each do |msg| %>
        <div class="message errormsg"><p><%= msg %></p></div>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome_entrevistado, "Nome do entrevistado:*" %> 
    <%= f.text_field :nome_entrevistado,  :class => "text" %>
  </div>
  <div class="field">
    <%= f.label :bio, "Biografia do entrevistado:" %>
    <%= f.text_area :bio, :class => "wysiwyg" %>
  </div>
  <div class="field">
    <%= f.label :texto, "Entrevista*:" %>
    <%= f.text_area :texto, :class => "wysiwyg" %>
  </div>
  <div class="field">
      <%= f.submit "Salvar", :class => "submit small"  %>
  </div>
<% end %>

