<div class="block">
  <div class="block_head">
    <div class="bheadl"></div>
      <div class="bheadr"></div>
        <h2>Entrevistas</h2>
          <ul>
            <li> <%= link_to 'Nova entrevista', new_admin_interview_path %></li>
          </ul>
  </div>    
  <div class="block_content">
    <% if @admin_interviews.present? %>
      <table cellpadding="0" cellspacing="0" width="100%" class="sortable">
        <thead>
          <tr>
            <th> ID </th>
            <th>Entrevistado</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
           <% @admin_interviews.each do |admin_interview| %>
          <tr>
            <td><%= admin_interview.id %></td>
            <td><%= admin_interview.nome_entrevistado %></td>
            <td><%= link_to 'Visualizar', [:admin, admin_interview]  %></td>
            <td><%= link_to 'Editar', edit_admin_interview_path(admin_interview) %></td>
            <td><%= link_to 'Excluir', [:admin, admin_interview], confirm: 'Deseja realmente excluir?', method: :delete %></td>
          </tr>
           <% end %>
        </tbody>
    </table>
  <% else %>
      <div> Nenhum registro encontrado </div>
  <% end %>
    <!--  <div class="pagination right">
        <a href="#">&laquo;</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
      </div> -->    
  </div> 
  <div class="bendl"></div>
  <div class="bendr"></div>
</div>