<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @user.nome %>
</p>

<p>
  <b>Apelido:</b>
  <%= @user.apelido %>
</p>

<p>
  <b>Data nasc:</b>
  <%= @user.data_nasc %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Senha:</b>
  <%= @user.senha %>
</p>

<p>
  <b>Status:</b>
  <%= @user.status %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
