<%= form_for [:admin, @admin_discussion] do |f| %>
  <% if @admin_discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_discussion.errors.count, "erro") %> encontrado(s):</h2>
      <% @admin_discussion.errors.full_messages.each do |msg| %>
        <div class="message errormsg"><p><%= msg %></p></div>
      <% end %>
    </div>
  <% end %>
    <%= f.hidden_field :author_id, :value => session[:admin_current_user_id] %>
    <%#= select("discussion", "author_id", Author.all.collect {|p| [ p.nome, p.id ]}, :selected => @admin_discussion.author_id,  :prompt => 'Selecione um autor') %>
  <div class="field">
    <%= f.label :titulo, "Título:*" %> 
    <%= f.text_field :titulo, :class => "text big" %>
  </div>
  <div class="field">
     <%= f.label :subtitulo, "Subtitulo:" %>
    <%= f.text_field :subtitulo, :class => "text" %>
  </div>
  <div class="field">
    <%= f.label :texto, "Texto:*" %>
    <%= f.text_area :texto, :class => "wysiwyg" %>
  </div>
  <div class="field">
    <%= f.label :data_inicio, "Data de início do debate:*" %>
    <%= f.text_field :data_inicio,  :class=> "text date_picker" %>
  </div>
  <div class="field">
    <%= f.label :data_fim, "Data final do debate:*" %>
    <%= f.text_field :data_fim,  :class=> "text date_picker" %> 
  </div>
  <div class="field">
    <%= f.label :status, "Publicar?*" %>
    <%= select("discussion", "status",  hash_to_sim_nao , :selected => @admin_discussion.status,  :prompt => 'Selecione') %>
  </div>
  <div class="field">
      <%= f.submit "Salvar", :class => "submit small"  %>
  </div>
<% end %>