<h1>Debates</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Título</th>
    <th>Data do início</th>
    <th>Data de finalização</th>
    <th>Status</th>
    <th>Autor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_discussions.each do |admin_discussion| %>
  <tr>
    <td><%= admin_discussion.id %></td>
    <td><%= admin_discussion.titulo %></td>
    <td><%= admin_discussion.data_inicio.strftime("%d/%m/%Y") %></td>
    <td><%= admin_discussion.data_fim.strftime("%d/%m/%Y") %></td>
    <td><%= admin_discussion.status %></td>
    <td><%= admin_discussion.author.nome %></td>
    <td><%= link_to 'Visualizar', [:admin,admin_discussion] %></td>
    <td><%= link_to 'Editar', edit_admin_discussion_path(admin_discussion) %></td>
    <td><%= link_to 'Excluir', [:admin,admin_discussion], confirm: 'Deseja realmente excluir?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo debate', new_admin_discussion_path %>
