<%= form_for(@doubt) do |f| %>
  <% if @doubt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doubt.errors.count, "error") %> prohibited this doubt from being saved:</h2>

      <ul>
      <% @doubt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :usuario_id %><br />
    <%= f.number_field :usuario_id %>
  </div>
  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :texto %><br />
    <%= f.text_area :texto %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :autor_responsavel_id %><br />
    <%= f.number_field :autor_responsavel_id %>
  </div>
  <div class="field">
    <%= f.label :resposta %><br />
    <%= f.text_area :resposta %>
  </div>
  <div class="field">
    <%= f.label :data_resposta %><br />
    <%= f.datetime_select :data_resposta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
