<%= form_for(@doubt) do |f| %>
  <% if @doubt.errors.any? %>
    <div id="error_explanation">
       <p class="red">Erros encontrado(s): <p>
      <ul class="list_arrows">
        <% @doubt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :titulo,  ""  %>
    <%= f.text_field :titulo,  :placeholder => "Escreva aqui a sua dúvida" %>
  </div>
  <div class="field">
    <%= f.text_area :texto,  :placeholder => "Faça uma breve descrição da sua dúvida para que possamos entender com mais clareza" %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar", :class => "btn_doubt_enviar" %>
  </div>
<% end %>
