<%= form_for(@doubt) do |f| %>
  <% if @doubt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doubt.errors.count, "error") %> prohibited this doubt from being saved:</h2>

      <ul>
      <% @doubt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo,  "Escreva sua pergunta" %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :texto, "Faça uma explicação para que possamos entender melhor" %><br />
    <%= f.text_area :texto %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
