<div class="divider_thin"></div>
<div class="grid_15 suffix_1 content">
    <div class="cat_title linha_amarela">
        <h2>Dúvidas</h2>
        <div class="social_buttons_top">
            <p> <%= link_to "Envie sua dúvida para nós", "/duvidas/inserir", :class => "link-more" %> </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="post-item">
        <blockquote>
            <div class="inner">
                <p>Nesse espaço, nossos profissionais tirarão suas dúvidas referente à fonoadiologia. 
                    Você poderá opinar também, nas dúvidas enviadas por outros usuários </p>
            </div>    
        </blockquote>
        <p> Saiba mais sobre como enviar suas dúvidas, <%= link_to "clicando aqui", "/como-enviar-suas-duvidas", :class => "black" %> </p>  
        <br />
        <div class="post-meta">
            <ul class="list_arrows">
                <% if @doubts.count > 0 %>    
                    <% @doubts.each do |doubt| %>
                        <li class="doubts-list">
                            <p> <%= doubt.created_at.strftime("%d/%m/%Y") %> | 
                            <%= link_to ("<strong>#{doubt.titulo}</strong>").html_safe , doubt  %> </p>
                            <p> enviado(a) por <span class='author'> <%= doubt.user.nome %> </span> </p>
                        </li>
                    <% end %> 
                <% else %>
                  <li class="not-found"> Nenhuma dúvida enviada </li>
              <% end %>                     
            </ul>
        </div>
    </div>

</div>