<div class="divider_thin"></div>
<div class="grid_15 suffix_1 content">
    <div class="cat_title linha_amarela">
        <h2>Dúvidas</h2>
        <div class="social_buttons_top">
            <p> <%= link_to "Envie sua dúvida para nós", "/duvidas/inserir", :class => "link-more" %> </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="post-item">
        <div class="post-meta">
            <% if @doubts.count > 0 %>
                <p>Nesse espaço, nossos profissionais tirarão suas dúvidas referente à fonoadiologia. 
                    Você poderá opinar também, nas dúvidas enviadas por outros usuários </p>
                <p> Saiba mais sobre como enviar suas dúvidas, <%= link_to "clicando aqui", "/como-enviar-suas-duvidas", :class => "black" %> </p>
                <% @doubts.each do |doubt| %>
                    <div class="desc">
                        <div class="post-opts">
                            <div class="post-date">
                                <h1><%= doubt.created_at.strftime("%d") %></h1>
                                <h6> <%= mes_do_ano_em_portugues doubt.created_at.strftime("%b") %> <br> <%= doubt.created_at.strftime("%Y") %></h6>
                            </div>
                            <div class="post-cats">
                                <p class="postby"><%= doubt.user.nome %></p>
                                <p class="cats">
                                    <fb:comments-count href="<%= request.url + "/" + doubt.slug %>"></fb:comments-count> 
                                    <%= link_to "comentários" , doubt_path(doubt) + "#comente" %> 
                                 </p>
                            </div>
                            <div class="post-share">
                                <div class="fb-like" data-send="false" data-layout="button_count" data-href="<%= request.url + "/" + doubt.slug %>"  data-width="450" data-show-faces="false" data-font="verdana"></div> 
                            </div>
                        </div>
                        <div class="post-details">
                            <div class="quote-text">
                                <h2><%= doubt.titulo.mb_chars.downcase.normalize.capitalize %></h2>
                            </div>
                            <div class="padding_top_10">  
                                <%= link_to "Faça seus comentários", doubt, :class=> "link-more" %>
                            </div> 
                        </div>
                    </div>
             <% end %> 
             <% else %>
                 Nenhuma dúvida encontrada
              <% end %>  
        </div>
    </div>
 

</div>
