<p id="notice"><%= notice %></p>

<p>
  <b>Usuario:</b>
  <%= @doubt.user.nome %>
</p>

<p>
  <b>Titulo:</b>
  <%= @doubt.titulo %>
</p>

<p>
  <b>Texto:</b>
  <%= @doubt.texto %>
</p>


<%= link_to 'Back', doubts_path %>
