<div class="divider_thin"></div>
<div class="grid_15 suffix_1 content">
    <div class="cat_title linha_vermelha">
        <h2>Notícias</h2> 
        <div class="clear"></div>
    </div>
    <div class="post-item">
        <div class="post-meta">
            <% if @news.count > 0 %>
                <% @news.each do |news| %>
                    <div class="desc">
                        <div class="post-opts">
                            <div class="post-date">
                                <h1><%= news.created_at.strftime("%d") %></h1>
                                <h6> <%= mes_do_ano_em_portugues news.created_at.strftime("%b") %> <br> <%= news.created_at.strftime("%Y") %></h6>
                            </div>
                            <div class="post-cats">
                                <p class="postby"><%= news.author.nome %></p>
                                <p class="cats">
                                    <fb:comments-count href="<%= request.url + "/" + news.slug %>"></fb:comments-count> 
                                    <%= link_to "comentários" , news_path(news) + "#comente" %> 
                                 </p>
                            </div>
                            <div class="post-share">
                                <div class="fb-like" data-send="false" data-layout="button_count" data-href="<%= request.url + "/" + news.slug %>"  data-width="450" data-show-faces="false" data-font="verdana"></div> 
                            </div>
                        </div>
                        <div class="post-details">
                            <h5> <%= link_to news.titulo.mb_chars.downcase.normalize.capitalize, news, :class=> "colr" %> </h5>
                               <%= strip_tags( raw truncate news.texto , :length => 250) %>
                            <div class="padding_top_10">  
                                <%= link_to "veja a notícia completa", news, :class=> "link-more" %>
                            </div> 
                        </div>
                    </div>
             <% end %> 
             <% else %>
                 Nenhuma notícia encontrada
              <% end %>  
        </div>
    </div>
</div>