<div class="divider_thin"></div>
    <div class="grid_15 suffix_1 content">
        <div class="cat_title back_post">
            <%= link_to "Veja todas as notícias", news_index_path, :class => "link-back" %>
            <div class="social_buttons_top">
               <div class="fb-like" 
               data-send="true" data-layout="button_count" 
               data-width="450" data-show-faces="false" data-font="verdana"></div> 
            </div>
            <div class="clear"></div>
        </div>
        <div class="post-item post-detail">
          <h1><%= @news.titulo %></h1>
          <p> <%= @news.subtitulo %> </p>
          <div class="post-meta">
              <span class="icon_cat icon_cat_blog">
                <fb:comments-count href="<%= request.url %>"></fb:comments-count> comentários
              </span>
              <em>por <span class="author">  <%= @news.author.nome %> </span> 
                &nbsp;|&nbsp; <%= @news.created_at.strftime("%d/%m/%Y") %> </em>
          </div>
          <div class="entry">
            <% if not @news.image.url(:medium) == "/images/medium/missing.png" %>
                <p> <%= image_tag @news.image.url(:medium), :class => "frame_left" %>  </p>
            <% end %> 
            <p>  <%= @news.texto %> </p>
            
            <div class="clear"></div>
          </div>
        </div>
        <div class="add-comment" id="addcomments">
          <div class="cat_title back_post"> <h3> Faça aqui seus comentários </h3> </div>
          <div class="fb-comments" data-href="<%= request.url %>" data-num-posts="10" data-width="590"></div> 
        </div>
    </div>

   

