<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @news.titulo %>
</p>

<p>
  <b>Subtitulo:</b>
  <%= @news.subtitulo %>
</p>

<p>
  <b>Autor:</b>
  <%= @news.author.nome %>
</p>

<p>
  <b>Texto:</b>
  <%= @news.texto %>
</p>

<p>
  <b>Data:</b>
  <%= @news.created_at.strftime("%d/%m/%Y") %>
</p>

<% if not @news.image.url(:medium) == "/images/medium/missing.png" %>
      <p> <%= image_tag @news.image.url(:medium) %>  </p>
    <% end %> 

<%= link_to 'Back', news_index_path %>
