<%= form_for(@discussion_user) do |f| %>
  <% if @discussion_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discussion_user.errors.count, "error") %> prohibited this discussion_user from being saved:</h2>

      <ul>
      <% @discussion_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :debate_id %><br />
    <%= f.number_field :debate_id %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br />
    <%= f.number_field :usuario_id %>
  </div>
  <div class="field">
    <%= f.label :data_resposta %><br />
    <%= f.datetime_select :data_resposta %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
