<p id="notice"><%= notice %></p>

<p>
  <b>Autor:</b>
  <%= @debate.autor_id %>
</p>

<p>
  <b>Titulo:</b>
  <%= @debate.titulo %>
</p>

<p>
  <b>Subtitulo:</b>
  <%= @debate.subtitulo %>
</p>

<p>
  <b>Texto:</b>
  <%= @debate.texto %>
</p>

<p>
  <b>Data inicio:</b>
  <%= @debate.data_inicio %>
</p>

<p>
  <b>Data fim:</b>
  <%= @debate.data_fim %>
</p>

<p>
  <b>Status:</b>
  <%= @debate.status %>
</p>


<%= link_to 'Edit', edit_debate_path(@debate) %> |
<%= link_to 'Back', debates_path %>
