<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @contact.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Texto:</b>
  <%= @contact.texto %>
</p>

<p>
  <b>Status:</b>
  <%= @contact.status %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
