<%= form_for [:admin,@admin_contact] do |f| %>
  <% if @admin_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_contact.errors.count, "error") %> prohibited this admin_contact from being saved:</h2>
      <% @admin_contact.errors.full_messages.each do |msg| %>
        <div class="message errormsg"><p><%= msg %></p></div>
      <% end %>
    </div>
  <% end %>
  
  <div class="field">
    <%= "Id: " + @admin_contact.id.to_s%>
  </div>
  <div class="field">
    <%= "Data: " + @admin_contact.created_at.strftime("%d/%m/%Y") %>
  </div>
  <div class="field">
    <%= "Nome: " + @admin_contact.nome %>
  </div>
  <div class="field">
    <%= "Email: " + @admin_contact.email %>
  </div>
  <div class="field">
    <%= "Texto: " + (@admin_contact.texto).html_safe %>
  </div>
  <div class="field">
    <%= f.label :status, "Mensagem foi respondida?" %>
    <%= select("contact", "status",  hash_to_sim_nao , :selected => @admin_contact.status,  :prompt => 'Selecione um status') %>
  </div>
  <div class="field">
      <%= f.submit "Enviar", :class => "submit small" %>
  </div>
<% end %>
