<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @admin_contact.id %>
</p>

<p>
  <b>Data:</b>
  <%= @admin_contact.created_at.strftime("%d/%m/%Y") %>
</p>

<p>
  <b>Nome:</b>
  <%= @admin_contact.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @admin_contact.email %>
</p>

<p>
  <b>Texto:</b>
  <%= @admin_contact.texto %>
</p>

<p>
  <b>Status:</b>
  <%= @admin_contact.status %>
</p>


<%= link_to 'Editar', edit_admin_contact_path(@admin_contact) %> |
<%= link_to 'Voltar', admin_contacts_path %>
