<div class="divider_thin"></div>
<div class="grid_24 suffix_1 content">
    <div class="cat_title">
        <h1>Agenda</h1> 
        <div class="clear"></div>
    </div>
    <div class="text">
        <div class="eve-month">
            <p class="colr float_left">Outubro / 2012</p>
            <p class="float_right">3 Eventos</p>
        </div>
        <div class="single-event">
            <div class="eve-date">
                <h1>24</h1>
                <h5>out<br>2012</h5>
            </div>
            <div class="eve-desc">
                <h4> <%= link_to "Encontro de Disléxicos", "http://www.andislexia.org.br", :target => "blank" %> </h4>
                <p class="time">19h30</p>
                <p class="localizacao-do-evento"> Rua assunção, nº 119, Botafogo, Rio de Janeiro, RJ (21) 2529-2461, (21) 2294-0896, (21) 2235-4293</p>
            </div>
            <div class="venu-map">
                <p class="colr">Sobre o evento</p>
                <p> <strong> Mais informações em: </strong> <%= link_to "http://www.andislexia.org.br", "http://www.andislexia.org.br", :target => "blank" %> </p>
                <p> <strong> Investimento: </strong> Evento gratuito </p>
                <br />
                <p> Instituição: Associação Nacional de Dislexia (AND). Coordenação: Dra. Sílvia Cohen e Dra. Denise Macedo (neuropsicólogas). Objetivo: possibilitar a troca de informações e experiências entre pessoas com dislexia. Local: Auditório da Telex Centro Auditivo.  </p>
            </div>
        </div>

        <div class="single-event">
            <div class="eve-date">
                <h1>25</h1>
                <h5>out<br>2012</h5>
            </div>
            <div class="eve-desc">
                <h4> <%= link_to " 25 à 27 de outubro - 8ª Jornada Científica de Reabilitação – Os Avanços da Reabilitação no Brasil ", "http://www.andislexia.org.br", :target => "blank" %> </h4>
                <p class="time">não informado</p>
                <p class="localizacao-do-evento"> Local: Unilasalle (Rua Gastão Gonçalves, nº 79, Niterói RJ) </p>
            </div>
            <div class="venu-map">
                <p class="colr">Sobre o evento</p>
                <p> <strong> Mais informações em: </strong> (21) 2109-2626, ramais: 239/245, de 9h às 17h  </p>
                <p> <strong> Investimento: </strong> Evento gratuito </p>
                <br />
                <p> Instituição: Associação Fluminense de Reabilitação (AFR, CRFa 1 – 4663/CJ). Participação de Dra. Tereza François (CRFa 1 – 2358), naconferência “A Atuação da Fonoaudiologia nas Disfagias”, dia 27 de outubro, às 11h. </p>
            </div>
        </div>

        <div class="single-event">
            <div class="eve-date">
                <h1>31</h1>
                <h5>out<br>2012</h5>
            </div>
            <div class="eve-desc">
                <h4> <%= link_to " 31 de outubro à 3 de novembro - XX Congresso Brasileiro de Fonoaudiologia ", "www.sbfa.org.br/fono2012", :target => "blank" %> </h4>
                <p class="time">não informado</p>
                <p class="localizacao-do-evento"> Local: Centro de Eventos e Convenções Brasil 21 (Brasília, DF). </p>
            </div>
            <div class="venu-map">
                <p class="colr">Sobre o evento</p>
                <p> <strong> Mais informações em: </strong> (21) 2109-2626, ramais: 239/245, de 9h às 17h  </p>
                <p> <strong> Investimento: </strong> não informado </p>
                <br />
                <p> Tema: “Fonoaudiologia: Ciência e Profissão”.  A comissão científica analisará resumo para pôsters e apresentação oral nas áreas de “Audição e Equilíbrio”,
“Disfagia”, “Políticas Públicas (Pró Saúde e/ou Pet Saúde)”, “Linguagem”, “Motricidade Orofacial”, “Saúde Coletiva” e “Voz”. </p>
            </div>
        </div>
        

        <div class="eve-month">
            <p class="colr float_left">Novembro / 2012</p>
            <p class="float_right">2 Eventos</p>
        </div>

        <div class="single-event">
            <div class="eve-date">
                <h1>24</h1>
                <h5>Nov<br>2012</h5>
            </div>
            <div class="eve-desc">
                <h4> <%= link_to "  Paralisia Cerebral: Intervenção Fonoaudiológica e Fisioterápica ", "#" %> </h4>
                <p class="time">Duração: 8h (de 9h às 17h) </p>
                <p class="localizacao-do-evento"> Local:  ABBR (Rua Jardim Botânico, nº 660, Jardim Botânico, Rio de Janeiro, RJ)</p>
            </div>
            <div class="venu-map">
                <p class="colr">Sobre o evento</p>
                <p> <strong> Mais informações e inscrições em: </strong> (21) 3528.6363 ramal 6525, (21) 3528.6404, centrodeestudos@abbr.org.br ou claudiai@abbr.org.br  </p>
                <p> <strong> Investimento: </strong> Descontos para pagamento à vista até 31 de outubro.  </p>
                <br />
                <p> Coordenação: Dra. Cláudia Inês Oliveira Vianna (CRFa 1-5812). Ministrantes: Dra. Cláudia Inês Oliveira Vianna e Dra. Márcia de Loyola (fisioterapeuta). Público alvo: Profissionais e estudantes (a partir do 5º período) de Fonoaudiologia e Fisioterapia. </p>
            </div>
        </div>

        <div class="single-event">
            <div class="eve-date">
                <h1>30</h1>
                <h5>Nov<br>2012</h5>
            </div>
            <div class="eve-desc">
                <h4> <%= link_to "30 de novembro e 1 de dezembro – Fonoaudiologia e Educação: Um encontro entre profissionais e educadores. ", "http://www.facebook.com/Fonoaudiologialer", :target => "blank"  %> </h4>
                <p class="time"> dia 30: 18h às 21h e dia 1º: 8h às 18h.</p>
                <p class="localizacao-do-evento"> Local: Rua Maria Eugênia, nº 300, Humaitá, Rio de Janeiro, RJ. </p>
            </div>
            <div class="venu-map">
                <p class="colr">Sobre o evento</p>
                <p> <strong> Mais informações em: </strong>  <%= link_to "http://www.facebook.com/Fonoaudiologialer", "http://www.facebook.com/Fonoaudiologialer", 
                :target => "blank" %> </p>
                <p> <strong> Investimento: </strong> não informado </p>
                <br />
                <p> Público alvo: fonoaudiólogos, educadores, psicólogos, psicopedagogos. Palestrantes: Dra. Mariângela Stampa (CRFa 1 – 2940), 
                    Dra. Cláudia Graça ( CRFa 1 – 9665), Dra. Vânia Pavão (CRFa 1 – 4885), Dra. Fabrícia Lois (CRFa 1 – 11260), Dra. Tânia Soares (CRFa 1 –
10985), Dra. Isabela Poli (CRFa 1 – 6867), Dra. Priscila Martins (neurologista), Dr. Fábio Barbirato (psiquiatra), entre outros. </p>
            </div>
        </div>
        


    </div>
</div>