<div class="divider_thin"></div>
<div class="grid_24 suffix_1 content">
    <div class="cat_title">
        <h1>Agenda</h1> 
        <div class="clear"></div>
    </div>
    <div class="text">
        <div class="eve-month">
            <p class="colr float_left">Novembro / 2012</p>
            <p class="float_right">7 Eventos</p>
        </div>

        <div class="single-event">
            <div class="eve-date">
                <h1>08</h1>
                <h5>Nov<br>2012</h5>
            </div>
            <div class="eve-desc">
                <h4> <%= link_to "III Encontro de Cuidados Paliativos em Pediatria ", "http://www.facebook.com/events/136344083155041", :target => "blank" %> </h4>
                <p class="time">Duração: quinta-feira(08), de 17h30 às 20h30 e sexta(09), de 8h30 às 18h. </p>
                <p class="localizacao-do-evento"> Local: Auditório do Conselho Estadual dos Direitos da Mulher (Rua Camerino, nº 51, Saúde, Centro, Rio de Janeiro, RJ). </p>
            </div>
            <div class="venu-map">
                <p class="colr">Sobre o evento</p>
                <p> <strong> Mais informações ou inscrições em: </strong>  (21) 2291-3131 ramais 3025 e 3026 , julianammattos@uol.com.br ou no Facebook do evento: <%= link_to "http://www.facebook.com/events/136344083155041", "http://www.facebook.com/events/136344083155041", :target => "blank" %> </p>
                <p> <strong> Investimento: </strong> não informado  </p>
                <br />
                <p> Setores de Oncohematologia Pediátrica e Psicologia Médica do Hospital Federal dos Servidores do Estado. Palestras, conferências e mesas redondas. Conferência Magna sobre “Cuidados Paliativos no Brasil: passado, presente e futuro...”, com Dr. Dante Pagnoncelli (IFF). </p>
            </div>
        </div>

        <div class="single-event">
            <div class="eve-date">
                <h1>09</h1>
                <h5>Nov<br>2012</h5>
            </div>
            <div class="eve-desc">
                <h4> <%= link_to "09 e 10 de Novembro: VI Congresso Carioca da ABENEPI", "http://goo.gl/ukUsw", :target=> "blank" %> </h4>
                <p class="time">Duração: de 8h às 18h. </p>
                <p class="localizacao-do-evento"> Local: South American Copacabana Hotel (Rua Francisco Sá, nº 90, Copacabana, Rio de Janeiro, RJ).  </p>
            </div>
            <div class="venu-map">
                <p class="colr">Sobre o evento</p>
                <p> <strong> Mais informações ou inscrições em: </strong> (21) 2537-0264 ou congresso@abenepirio.com.br ou http://www.abenepirio.com.br/inscricoes.html </p>
                <p> <strong> Investimento: </strong> não informado  </p>
                <br />
                <p> Associação Brasileira de Neurologia e Psiquiatria Infantil e Profissões Afins – Seção Rio de Janeiro (ABENEPI- RJ). Evento Paralelo: II Encontro de Pais com Especialistas em TDAH. Lema: “Saúde Inclusiva – Contribuições da Ciência nas Clínicas da Infância e Adolescência”. Temas: Políticas inclusivas, Autismos, Sinais Precoces de Risco ao Desenvolvimento, Epilepsias, Função Executiva, Linguagem, Educação e Saúde, Transtorno do Sono e da Aprendizagem, Psicofarmacologia. </p>
            </div>
        </div>

        <div class="single-event">
            <div class="eve-date">
                <h1>10</h1>
                <h5>Nov<br>2012</h5>
            </div>
            <div class="eve-desc">
                <h4> <%= link_to "10 e 11 de Novembro: III Alfabetica e II Matematicando", "http://goo.gl/fRuZ1", :target=> "blank" %> </h4>
                <p class="time">Duração: não informado </p>
                <p class="localizacao-do-evento"> Local: Ouro Minas Palace Hotel (Belo Horizonte, MG).  </p>
            </div>
            <div class="venu-map">
                <p class="colr">Sobre o evento</p>
                <p> <strong> Mais informações ou inscrições em: </strong> (31) 3225-7678 ou conexa@conexaeventos.com.br. Inscrições: <%= link_to "aqui", "http://goo.gl/fRuZ1", 
                :target=> "blank" %>  </p>
                <p> <strong> Investimento: </strong> não informado  </p>
                <br />
                <p> Instituto Conexa. III Congresso Brasileiro de Alfabetização, Letramento, Leitura e Produção de Textos e II Seminário Internacional de Matemática. Participação de Dra. Mariângela Stampa (CRFa 2940-RJ). Trabalhos científicos: resumos aceitos até 31/10/2012. </p>
            </div>
        </div>

        <div class="single-event">
            <div class="eve-date">
                <h1>14</h1>
                <h5>Nov<br>2012</h5>
            </div>
            <div class="eve-desc">
                <h4> <%= link_to "14 a 18 de novembro - 10º Congresso Brasileiro de Saúde Coletiva", "http://goo.gl/0tuC6", :target=> "blank" %> </h4>
                <p class="time">Duração: não informado </p>
                <p class="localizacao-do-evento"> Local: UFRGS (Porto Alegre, RS). </p>
            </div>
            <div class="venu-map">
                <p class="colr">Sobre o evento</p>
                <p> <strong> Mais informações ou inscrições em: </strong> (51) 3012-9148, inscricoes@aconteceeventos.com.br ou <%= link_to "aqui.", "http://goo.gl/0tuC6", :target=> "blank" %>  </p>
                <p> <strong> Investimento: </strong> não informado  </p>
                <br />
                <p> Associação Brasileira de Saúde Coletiva (ABRASCO). Tema: “Saúde é Desenvolvimento: Ciência para a Cidadania”.  Objetivo: debater os desafios e as perspectivas da saúde coletiva no Brasil. Acesse a programação completa. </p>
            </div>
        </div>

        <div class="single-event">
            <div class="eve-date">
                <h1>23</h1>
                <h5>Nov<br>2012</h5>
            </div>
            <div class="eve-desc">
                <h4> <%= link_to "23 e 24 de novembro - II Jornada sobre NeuroEducação", "http://goo.gl/kkqw6", :target=> "blank" %> </h4>
                <p class="time">Duração: não informado </p>
                <p class="localizacao-do-evento"> Local: Associação Cristã de Moços (ACM) - Rua da Lapa, nº 86, 6º andar, Lapa, Rio de Janeiro, RJ. </p>
            </div>
            <div class="venu-map">
                <p class="colr">Sobre o evento</p>
                <p> <strong> Mais informações ou inscrições em: </strong> contato@creativeideias.com.br, (21) 2577 8691, (21) 3246 2904 ou (21) 8832 6047 ou  <%= link_to "clicando aqui.", "http://goo.gl/kkqw6", :target=> "blank" %>   </p>
                <p> <strong> Investimento: </strong> não informado  </p>
                <br />
                <p> Creative Ideias. Tema: “Neurociências, Aprendizagem e Educação”. Público Alvo: Professores, Mediadores, Pedagogos, Psicólogos, Psicopedagogos, Fonoaudiólogos, Estudantes de Graduação e/ou Pós, Familiares e demais interessados no assunto.  Participação de Dra. Fátima Alves (CRFa 1 - 1547). </p>
            </div>
        </div>


        <div class="single-event">
            <div class="eve-date">
                <h1>24</h1>
                <h5>Nov<br>2012</h5>
            </div>
            <div class="eve-desc">
                <h4> <%= link_to "  Paralisia Cerebral: Intervenção Fonoaudiológica e Fisioterápica ", "#" %> </h4>
                <p class="time">Duração: 8h (de 9h às 17h) </p>
                <p class="localizacao-do-evento"> Local:  ABBR (Rua Jardim Botânico, nº 660, Jardim Botânico, Rio de Janeiro, RJ)</p>
            </div>
            <div class="venu-map">
                <p class="colr">Sobre o evento</p>
                <p> <strong> Mais informações e inscrições em: </strong> (21) 3528.6363 ramal 6525, (21) 3528.6404, centrodeestudos@abbr.org.br ou claudiai@abbr.org.br  </p>
                <p> <strong> Investimento: </strong> Descontos para pagamento à vista até 31 de outubro.  </p>
                <br />
                <p> Coordenação: Dra. Cláudia Inês Oliveira Vianna (CRFa 1-5812). Ministrantes: Dra. Cláudia Inês Oliveira Vianna e Dra. Márcia de Loyola (fisioterapeuta). Público alvo: Profissionais e estudantes (a partir do 5º período) de Fonoaudiologia e Fisioterapia. </p>
            </div>
        </div>



        <div class="single-event">
            <div class="eve-date">
                <h1>30</h1>
                <h5>Nov<br>2012</h5>
            </div>
            <div class="eve-desc">
                <h4> <%= link_to " 30 de novembro e 1 de dezembro – Fonoaudiologia e Educação: Um encontro entre profissionais e educadores. ", "#"  %> </h4>
                <p class="time"> dia 30: 18h às 21h e dia 1º: 8h às 18h.</p>
                <p class="localizacao-do-evento"> Local: Rua Maria Eugênia, nº 300, Humaitá, Rio de Janeiro, RJ. </p>
            </div>
            <div class="venu-map">
                <p class="colr">Sobre o evento</p>
                <p> <strong> Mais informações em: </strong>  fonoaudiologia.ler@gmail.com </p>
                <p> <strong> Investimento: </strong> não informado </p>
                <br />
                <p> Público alvo: fonoaudiólogos, educadores, psicólogos, psicopedagogos. Palestrantes: Dra. Mariângela Stampa (CRFa 1 – 2940), 
                    Dra. Cláudia Graça ( CRFa 1 – 9665), Dra. Vânia Pavão (CRFa 1 – 4885), Dra. Fabrícia Lois (CRFa 1 – 11260), Dra. Tânia Soares (CRFa 1 –
10985), Dra. Isabela Poli (CRFa 1 – 6867), Dra. Priscila Martins (neurologista), Dr. Fábio Barbirato (psiquiatra), entre outros. </p>
            </div>
        </div>
        


    </div>
</div>