<div class="divider_thin"></div>
<div class="grid_24 suffix_1 content">
    <div class="cat_title">
        <h1>Guias & Manuais</h1> 
        <div class="clear"></div>
    </div>
    <div class="text">
        <div class="float_left" style="width:100%;">
            <h2>  Prevenindo e tratando problemas auditivos </h2> 
            <p> <%= image_tag "logo_manuais/PrevenindoProblemasAuditivos.jpg", :alt => "Prevenindo e tratando problemas auditivos", 
                     :title => "Prevenindo e tratando problemas auditivos", :class => "frame_left" %> </p>
            <p> Panfleto criado pelo mnistério da saúde para previnir e tratar problemas auditivos. <br /> 
            <%= link_to "Clique aqui para fazer o download do arquivo", "/manuais/Panfleto-Prevenindo-e-Tratando-Problemas-Auditivos.pdf", :target => "blank" %> </p>  
        </div> 
        <div class="float_left" style="width:100%;">
            <h2>  Saúde Auditiva da Pessoa Idosa </h2> 
            <p> <%= image_tag "logo_manuais/Folde_ASaudeAuditiva_capa.jpg", :alt => "Saúde Auditiva da Pessoa Idosa", 
                     :title => "Saúde Auditiva da Pessoa Idosa", :class => "frame_left" %> </p>
            <p> Folder explicativo sobre saúde auditiva na terceira idade. Elaborado e distribuído em parceria com o Ministério da Saúde. <br /> 
            <%= link_to "Clique aqui para fazer o download do arquivo", "/manuais/Folder-A-Saude-Auditiva-Da-Pessoa-Idosa.pdf", :target => "blank" %> </p>   
        </div> 
        <div class="float_left" style="width:100%;">   
        <h2>  Guia de Orientação sobre implantação e desenvolvimento da saúde auditiva na atenção primária </h2> 
        <p> <%= image_tag "logo_manuais/cartilha_fonoaudiologos.jpg", :alt => "Guia de Orientação sobre implantação e desenvolvimento da saúde auditiva na atenção primária", 
                 :title => "Guia de Orientação sobre implantação e desenvolvimento da saúde auditiva na atenção primária", :class => "frame_left" %> </p>
        <p> Guia de Orientação para Fonoaudiólogos sobre implantação e desenvolvimento da saúde auditiva na atenção primária. Documento elaborado por meio de parceria
        entre o CFFa e a Academia Brasileira de Audiologia (ABA), com cooperação técnica da Sociedade Brasileira de Fonoaudiologia (SBFa). <br /> 
        <%= link_to "Clique aqui para fazer o download do arquivo", "/manuais/Guia-de-Orientacao-Para-Fonoaudiologos.pdf", :target => "blank" %> </p>   
        </div> 
        <div class="float_left" style="width:100%;">
            <h2> Ambiente Acústico em Cabina/Sala de Teste </h2> 
            <p> <%= image_tag "logo_manuais/ambiente_acustico.jpg", :alt => "Ambiente Acústico em Cabina/Sala de Teste", 
                     :title => "Ambiente Acústico em Cabina/Sala de Teste", :class => "frame_left" %> </p>
            <p> Orientações dos Conselhos de Fonoaudiologia para o ambiente acústico na realização de testes audiológicos. <br /> 
            <%= link_to "Clique aqui para fazer o download do arquivo", "/manuais/Ambiente-Acustico-Em-Cabina-Sala-de-Teste.pdf", :target => "blank" %> </p>  
        </div> 
        <div class="float_left" style="width:100%;">
            <h2> Audiometria Tonal, Logoaudiometria e Medidas de Imitância Acústica </h2> 
            <p> <%= image_tag "logo_manuais/pubep04.jpg", :alt => "Audiometria Tonal, Logoaudiometria e Medidas de Imitância Acústica", 
                     :title => "Audiometria Tonal, Logoaudiometria e Medidas de Imitância Acústica", :class => "frame_left" %> </p>
            <p> Orientações dos Conselhos de Fonoaudiologia para o laudo Audiológico. <br /> 
            <%= link_to "Clique aqui para fazer o download do arquivo", "/manuais/Audiometria-Tonal-Medidas-de-Imitancia.pdf", :target => "blank" %> </p>   
        </div>    
        <div class="float_left" style="width:100%;">
            <h2>Disfagia </h2> 
            <p> <%= image_tag "logo_manuais/pubmanual5.jpg", :alt => "Disfagia", 
                     :title => "Disfagia", :class => "frame_left" %> </p>
            <p> A disfagia é uma alteração na deglutição, ou seja, no ato de engolir alimentos ou saliva. Pode ocorrer em diferentes fases da vida, especialmente em idosos, podendo trazer sérias conseqüências à saúde. <br /> 
            <%= link_to "Clique aqui para fazer o download do arquivo", "/manuais/Disfagia.pdf", :target => "blank" %> </p> 
        </div> 
        <div class="float_left" style="width:100%;">
            <h2> NASF - Núcleo de Apoio à Saúde da Família. </h2> 
            <p> <%= image_tag "logo_manuais/NASF-folder.jpg", :alt => "NASF - Núcleo de Apoio à Saúde da Família", 
                     :title => "NASF - Núcleo de Apoio à Saúde da Família", :class => "frame_left" %> </p>
            <p> A fonoaudiologia deve ser um interesse de toda a família. <br /> 
            <%= link_to "Clique aqui para fazer o download do arquivo", "/manuais/Fonoaudiologia-Um-Assunto-De-Interesse-De-Toda-A-Familia.pdf", :target => "blank" %> </p>   
        </div> 
         <div class="float_left" style="width:100%;">
            <h2> Fonoaudiologia & Educação </h2> 
            <p> <%= image_tag "logo_manuais/pubmanual7.jpg", :alt => "Fonoaudiologia & Educação ", 
                     :title => "Fonoaudiologia & Educação", :class => "frame_left" %> </p>
            <p> O que você precisa saber sobre a fonoaudiologia e educação <br /> 
            <%= link_to "Clique aqui para fazer o download do arquivo", "/manuais/Fonoaudiologia-E-Educacao.pdf", :target => "blank" %> </p>   
        </div>       

         <div class="float_left" style="width:100%;">
            <h2> Guia do Fonoaudiólogo em Saúde Suplementar  </h2> 
            <p> <%= image_tag "logo_manuais/pubmanual4.jpg", :alt => " Guia do Fonoaudiólogo em Saúde Suplementar ", 
                     :title => "Guia do Fonoaudiólogo em Saúde Suplementar", :class => "frame_left" %> </p>
            <p> O conteúdo publicado se propõe como instrumento útil e prático de orientação aos fonoaudiólogos na sua relação com a saúde suplementar, e também um chamado para que toda a categoria participe da luta em defesa de uma Fonoaudiologia valorizada, reconhecida e respeitada. <br /> 
            <%= link_to "Clique aqui para fazer o download do arquivo", "/manuais/Saude-Suplementar.pdf", :target => "blank" %> </p>   
        </div>     

        <div class="float_left" style="width:100%;">
            <h2> Áreas de Competência do Fonoaudiólogo no Brasil  </h2> 
            <p> <%= image_tag "logo_manuais/pubep03.jpg", :alt => " Áreas de Competência do Fonoaudiólogo no Brasil ", 
                     :title => " Áreas de Competência do Fonoaudiólogo no Brasil", :class => "frame_left" %> </p>
            <p> É com prazer que apresentamos à Classe Fonoaudiológica e à comunidade a 2ª versão do Documento "EXERCÍCIO PROFISSIONAL DO FONOAUDIÓLOGO NO BRASIL", agora denominado "ÁREAS DE COMPETÊNCIA DO FONOAUDIÓLOGO NO BRASIL". <br /> 
            <%= link_to "Clique aqui para fazer o download do arquivo", "/manuais/Areas-De-Competencia-Do-Fonoaudiologo.pdf", :target => "blank" %> </p>   
        </div>      

        <div class="float_left" style="width:100%;">
            <h2> Guia Prático de Consulta Rápida da CID-10 pelo Fonoaudiólogo  </h2> 
            <p> <%= image_tag "logo_manuais/pubmanual1.jpg", :alt => " Guia Prático de Consulta Rápida da CID-10 pelo Fonoaudiólogo ", 
                     :title => " Guia Prático de Consulta Rápida da CID-10 pelo Fonoaudiólogo ", :class => "frame_left" %> </p>
            <p> A Classificação Internacional de Doenças e de Problemas Relacionados à Saúde, na sua 10a revisão (CID-10), configura-se no documento que registra uma classificação estatística de doenças que inclui todas as entidades mórbidas dentro de um número manuseável de categorias. <br /> 
            <%= link_to "Clique aqui para fazer o download do arquivo", "/manuais/CID10.pdf", :target => "blank" %> </p>   
        </div>      

        <div class="float_left" style="width:100%;">
            <h2> Caracterização das Ações inerentes ao Exercício Profissional do Fonoaudiólogo  </h2> 
            <p> <%= image_tag "logo_manuais/pubep02.jpg", :alt => " Caracterização das Ações inerentes ao Exercício Profissional do Fonoaudiólogo ", 
                     :title => " Caracterização das Ações inerentes ao Exercício Profissional do Fonoaudiólogo ", :class => "frame_left" %> </p>
            <p> É com grande satisfação que apresentamos este documento oficial desenvolvido com muito cuidado e carinho. Foi elaborado pela necessidade do Conselho Federal de 
                Fonoaudiologia em esclarecer aos fonoaudiólogos aos profissionais da saúde o que o profissional da Fonoaudiologia faz, onde trabalha e de que forma atua. A partir de agora, a Fonoaudiologia tem este guia como referência da ocupação do fonoaudiólogo no Brasil. <br /> 
            <%= link_to "Clique aqui para fazer o download do arquivo", "/manuais/Exercicio-Profissional-Do-Fonoaudiologo.pdf", :target => "blank" %> </p>   
        </div>   

        <div class="float_left" style="width:100%;">
            <h2> Classificação Brasileira de Procedimentos em Fonoaudiologia - 3ª Edição </h2> 
            <p> <%= image_tag "logo_manuais/pubep01.jpg", :alt => " Classificação Brasileira de Procedimentos em Fonoaudiologia - 3ª Edição", 
                     :title => " Classificação Brasileira de Procedimentos em Fonoaudiologia - 3ª Edição ", :class => "frame_left" %> </p>
            <p> O Conselho Federal e os Conselhos Regionais de Fonoaudiologia no uso de suas atribuições divulgam a Classificação Brasileira de Procedimentos em Fonoaudiologia - CBPFa - 3ª Edição. Trata-se de um instrumento importante para a classe fonoaudiológia pois congrega os procedimentos hoje executados pelos profissionais no Brasil, e procura unificar os termos facilitando a compreensão dos mesmos pela sociedade em geral. <br /> 
            <%= link_to "Clique aqui para fazer o download do arquivo", "/manuais/Procedimentos-Em-Fonoaudiologia.pdf", :target => "blank" %> </p>   
        </div>       

        <div class="float_left" style="width:100%;">
            <h2> Manual de Biossegurança - Março 2007 </h2> 
            <p> <%= image_tag "logo_manuais/pubmanual2.jpg", :alt => " Manual de Biossegurança - Março 2007", 
                     :title => " Manual de Biossegurança - Março 2007 ", :class => "frame_left" %> </p>
            <p> O Conselho Federal de Fonoaudiologia e seus Regionais, preocupados com a excelência da atuação fonoaudiológica no Brasil, durante o último ano desenvolveu um estudo sobre biossegurança e Fonoaudiologia. Tal estudo culminou com a elaboração de um documento que tem por finalidade orientar. <br /> 
            <%= link_to "Clique aqui para fazer o download do arquivo", "/manuais/Biosseguranca.pdf", :target => "blank" %> </p>   
        </div>    

    </div>
</div>