<div class="divider_thin"></div>
<div class="grid_24 suffix_1 content">
    <div class="cat_title">
        <h1>Links úteis</h1> 
        <div class="clear"></div>
    </div>
    <div class="text">
        <p> Portal SBFA | Sociedade brasileira de fonoaudiologia | <%= link_to "ir para o site", "http://www.sbfa.org.br/portal/", :target => "blank"  %>  </p>
        <p> Conselho federal de fonoaudiologia | <%= link_to "ir para o site", "http://www.fonoaudiologia.org.br/", :target => "blank"  %>  </p>
        <p> CREFONO | Conselho regional de fonoaudiologia | <%= link_to "ir para o site", "http://www.crefono1.gov.br/", :target => "blank"  %>  </p>
        <p> Audiologia.org | <%= link_to "ir para o site", "http://www.audiologia.org/audiologia", :target => "blank"  %>  </p>
        <p> SINFERJ | Sindicato dos fonoaudiólogos do Rio de Janeiro | <%= link_to "ir para o site", "http://www.sinferj.com.br/", :target => "blank"  %>  </p>
         <p> SINDFONO - CE | Sindicato dos fonoaudiólogos do Ceará | <%= link_to "ir para o site", "http://www.sindfono-ce.com.br/", :target => "blank"  %>  </p>
         <p> SINDFONO - PA | Sindicato dos fonoaudiólogos do Pará | <%= link_to "ir para o site", "http://www.sindfonopara.com.br/v01/", :target => "blank"  %>  </p>
         <p> SINFEMG | Sindicato dos fonoaudiólogos das Minas Gerais | <%= link_to "ir para o site", "http://www.sinfemg.org.br/", :target => "blank"  %>  </p>
         <p> SINDFONO - RS | Sindicato dos fonoaudiólogos do Rio Grande do Sul | <%= link_to "ir para o site", "http://sindfono-rs.blogspot.com.br/", :target => "blank"  %>  </p> 
         <p> ABLV | Academia brasileira de laringologia e voz | <%= link_to "ir para o site", "http://www.ablv.com.br/", :target => "blank"  %>  </p> 
         <p> ABA | Academia brasileira de audiologia | <%= link_to "ir para o site", "http://www.audiologiabrasil.org.br/portal/", :target => "blank"  %>  </p> 
         <p> Matéria do portal G1 sobre Fonoadiologia | <%= link_to "ir para a matéria" , "http://g1.globo.com/educacao/guia-de-carreiras/noticia/2011/03/guia-de-carreiras-fonoaudiologia.html" , :target => "blank" %>
         <p> AND | Associação Nacional de Dislexia | <%= link_to "ir para o site", "http://www.andislexia.org.br/", :target => "blank"  %>  </p>
         <p> ABRA Gagueira | Associação Brasileira de Gagueira | <%= link_to "ir para o site", "http://www.abragagueira.org.br/", :target => "blank"  %>  </p>
         <p>  Instituto Brasileiro de Fluência | <%= link_to "ir para o site", "http://www.gagueira.org.br/home.asp", :target => "blank"  %>  </p>
         <p>  ASHA | American Speech Language Hearing Association | <%= link_to "ir para o site", "http://www.asha.org", :target => "blank"  %>  </p>
        <p> INES | Instituto Nacional dos Surdos | <%= link_to "ir para o site", "http://www.ines.gov.br/", :target => "blank"  %>  </p>
    </div>
</div>





