<%= form_for([:admin,@admin_doubt]) do |f| %>
  <% if @admin_doubt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_doubt.errors.count, "erro") %> encontrado(s):</h2>

      <ul>
      <% @admin_doubt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :texto %><br />
    <%= f.text_area :texto %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= select("doubt", "status",  hash_to_status , :selected => @admin_doubt.status,  :prompt => 'Selecione um status') %>
  </div>
  <div class="field">
     <%= select("doubt", "autor_responsavel_id", Author.all.collect {|p| [ p.nome, p.id ]}, :selected => @admin_doubt.autor_responsavel_id,  :prompt => 'Selecione um autor') %>
  </div>
  <div class="field">
    <%= f.label :resposta %><br />
    <%= f.text_area :resposta %>
  </div>
  <div class="field">
    <%= f.label :data_resposta %><br />
    <%= f.datetime_select :data_resposta %>
  </div>
  <div class="actions">
      <%= f.submit "Salvar" %>
  </div>
<% end %>