<%= form_for [:admin, @admin_doubt]  do |f| %>
  <% if @admin_doubt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_doubt.errors.count, "erro") %> encontrado(s):</h2>
      <% @admin_doubt.errors.full_messages.each do |msg| %>
        <div class="message errormsg"><p><%= msg %></p></div>
      <% end %>
    </div>
  <% end %>
  <div class="field">
   <%= f.label :titulo, "Título:*" %> 
    <%= f.text_field :titulo, :class => "text" %>
  </div>
  <div class="field">
    <%= f.label :texto, "Texto:*" %> 
    <%= f.text_area :texto, :class => "wysiwyg" %>
  </div>
  <div class="field">
    <%= f.label :status, "Status:" %>
    <%= select("doubt", "status",  hash_to_status , :selected => @admin_doubt.status,  :prompt => 'Selecione um status') %>
  </div>
  <div class="field">
     <%= select("doubt", "autor_responsavel_id", Author.all.collect {|p| [ p.nome, p.id ]}, :selected => @admin_doubt.autor_responsavel_id,  :prompt => 'Selecione um autor') %>
  </div>
  <div class="field">
    <%= f.label :resposta, "Resposta do autor" %>
    <%= f.text_area :resposta, :class => "wysiwyg" %>
  </div>
  <div class="field">
    <%= f.label :data_resposta, "Data da resposta" %>
    <%= f.datetime_select :data_resposta %>
  </div>
  <div class="field">
      <%= f.submit "Salvar", :class => "submit small" %>
  </div>
<% end %>