<h1>Listing admin_doubts</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th>Titulo</th>
    <th>Texto</th>
    <th>Status</th>
    <th>Autor responsavel</th>
    <th>Resposta</th>
    <th>Data resposta</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_doubts.each do |admin_doubt| %>
  <tr>
    <td><%= admin_doubt.usuario_id %></td>
    <td><%= admin_doubt.titulo %></td>
    <td><%= admin_doubt.texto %></td>
    <td><%= admin_doubt.status %></td>
    <td><%= admin_doubt.autor_responsavel_id %></td>
    <td><%= admin_doubt.resposta %></td>
    <td><%= admin_doubt.data_resposta %></td>
    <td><%= link_to 'Show', admin_doubt %></td>
    <td><%= link_to 'Edit', edit_admin_doubt_path(admin_doubt) %></td>
    <td><%= link_to 'Destroy', admin_doubt, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Doubt', new_admin_doubt_path %>
