<h1>Dúvidas</h1>

<table>
  <tr>
    <th>Usuário</th>
    <th>Título</th>
    <th>Texto</th>
    <th>Status</th>
    <th>Autor da dúvida</th>
    <th>Resposta</th>
    <th>Data resposta</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_doubts.each do |admin_doubt| %>
  <tr>
    <td><%= admin_doubt.usuario_id %></td>
    <td><%= admin_doubt.titulo %></td>
    <td><%= admin_doubt.texto %></td>
    <td><%= admin_doubt.status %></td>
    <td><%= admin_doubt.autor_responsavel_id %></td>
    <td><%= admin_doubt.resposta %></td>
    <td><%= admin_doubt.data_resposta %></td>
    <td><%= link_to 'Visualizar', [:admin,admin_doubt] %></td>
    <td><%= link_to 'Editar', edit_admin_doubt_path(admin_doubt) %></td>
    <td><%= link_to 'Excluir', [:admin,admin_doubt], confirm: 'Deseja realmente excluir?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova dúvida', new_admin_doubt_path %>
