<p id="notice"><%= notice %></p>

<p>
  <b>Usuário:</b>
  <%= @admin_doubt.usuario_id %>
</p>

<p>
  <b>Título:</b>
  <%= @admin_doubt.titulo %>
</p>

<p>
  <b>Texto:</b>
  <%= @admin_doubt.texto %>
</p>

<p>
  <b>Status:</b>
  <%= @admin_doubt.status %>
</p>

<p>
  <b>Autor da dúvida:</b>
  <%= @admin_doubt.autor_responsavel_id %>
</p>

<p>
  <b>Resposta:</b>
  <%= @admin_doubt.resposta %>
</p>

<p>
  <b>Data resposta:</b>
  <%= @admin_doubt.data_resposta %>
</p>


<%= link_to 'Editar', edit_admin_doubt_path(@admin_doubt) %> |
<%= link_to 'Voltar', admin_doubts_path %>
