<p id="notice"><%= notice %></p>

<p>
  <b>Usuário:</b>
  <%= @admin_doubt.user.nome   %>
</p>

<p>
  <b>Data da dúvida:</b>
  <%= @admin_doubt.created_at.strftime("%d/%m/%Y") %>
</p>


<p>
  <b>Título:</b>
  <%= @admin_doubt.titulo %>
</p>

<p>
  <b>Texto:</b>
  <%= @admin_doubt.texto %>
</p>

<p>
  <b>Status:</b>
  <%= status_to_string @admin_doubt.status %>
</p>

<p>
  <b>Respondido por:</b>
  <%= @admin_doubt.author.nome %>
</p>

<p>
  <b>Resposta:</b>
  <%= @admin_doubt.resposta %>
</p>

<p>
  <b>Data resposta:</b>
  <%= @admin_doubt.data_resposta.strftime("%d/%m/%Y") %>
</p>


<%= link_to 'Editar', edit_admin_doubt_path(@admin_doubt) %> |
<%= link_to 'Voltar', admin_doubts_path %>
