<p id="notice"><%= notice %></p>

<p>
  <b>Usuario:</b>
  <%= @duvida.usuario_id %>
</p>

<p>
  <b>Titulo:</b>
  <%= @duvida.titulo %>
</p>

<p>
  <b>Texto:</b>
  <%= @duvida.texto %>
</p>

<p>
  <b>Created:</b>
  <%= @duvida.created %>
</p>

<p>
  <b>Status:</b>
  <%= @duvida.status %>
</p>

<p>
  <b>Autor responsavel:</b>
  <%= @duvida.autor_responsavel_id %>
</p>

<p>
  <b>Resposta:</b>
  <%= @duvida.resposta %>
</p>

<p>
  <b>Data resposta:</b>
  <%= @duvida.data_resposta %>
</p>


<%= link_to 'Edit', edit_duvida_path(@duvida) %> |
<%= link_to 'Back', duvidas_path %>
