<h1>Listing noticia</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Subtitulo</th>
    <th>Autor</th>
    <th>Texto</th>
    <th>Status</th>
    <th>Data</th>
    <th>Created</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @noticia.each do |noticium| %>
  <tr>
    <td><%= noticium.titulo %></td>
    <td><%= noticium.subtitulo %></td>
    <td><%= noticium.autor_id %></td>
    <td><%= noticium.texto %></td>
    <td><%= noticium.status %></td>
    <td><%= noticium.data %></td>
    <td><%= noticium.created %></td>
    <td><%= link_to 'Show', noticium %></td>
    <td><%= link_to 'Edit', edit_noticium_path(noticium) %></td>
    <td><%= link_to 'Destroy', noticium, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Noticium', new_noticium_path %>
