<h1>Listing debates_usuarios</h1>

<table>
  <tr>
    <th>Debate</th>
    <th>Usuario</th>
    <th>Data resposta</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @debates_usuarios.each do |debates_usuario| %>
  <tr>
    <td><%= debates_usuario.debate_id %></td>
    <td><%= debates_usuario.usuario_id %></td>
    <td><%= debates_usuario.data_resposta %></td>
    <td><%= debates_usuario.status %></td>
    <td><%= link_to 'Show', debates_usuario %></td>
    <td><%= link_to 'Edit', edit_debates_usuario_path(debates_usuario) %></td>
    <td><%= link_to 'Destroy', debates_usuario, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Debates usuario', new_debates_usuario_path %>
