<h1>Listing autores</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Apelido</th>
    <th>Crfa</th>
    <th>Bibiografia</th>
    <th>Created</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @autores.each do |autor| %>
  <tr>
    <td><%= autor.nome %></td>
    <td><%= autor.apelido %></td>
    <td><%= autor.crfa %></td>
    <td><%= autor.bibiografia %></td>
    <td><%= autor.created %></td>
    <td><%= link_to 'Show', autor %></td>
    <td><%= link_to 'Edit', edit_autor_path(autor) %></td>
    <td><%= link_to 'Destroy', autor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Autor', new_autor_path %>
