<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @autor.nome %>
</p>

<p>
  <b>Apelido:</b>
  <%= @autor.apelido %>
</p>

<p>
  <b>Crfa:</b>
  <%= @autor.crfa %>
</p>

<p>
  <b>Bibiografia:</b>
  <%= @autor.bibiografia %>
</p>

<p>
  <b>Created:</b>
  <%= @autor.created %>
</p>


<%= link_to 'Edit', edit_autor_path(@autor) %> |
<%= link_to 'Back', autores_path %>
