<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
  <meta property="fb:admins" content="{100001294911795,100001557107821}"/>
  <meta property="og:title" content="Portal da fono" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="http://www.portaldafono.com" />
  <meta property="og:image" content="<%= image_path('portal_da_fono_logo.png') %>" />
  <meta property="og:site_name" content="Portal da fono" />
  <link rel="shortcut icon" href="<%= image_path('icons/ico.png') %>" type="image/ico" />
  <%= display_meta_tags :site => 'Portal da fono' %> 
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= render :partial => "partials/analytcs" %>
</head>
<body>
	<%= render :partial => "partials/facebook_connect" %>
	<div class="header">
		<%= render :partial => "partials/advertisement/adv_728x90" %>
		<div class="container_24">
			<%= render :partial => "partials/topo" %>
    		<div class="clear"></div>
			<%= render :partial => "partials/menu" %>
  		</div>
	</div>
	<div class="middle">
		<div class="container_24">
			<%= yield %>
			<%= render :partial => "partials/sidebar" if @sidebar != false %>
			<div class="clear"></div>	
		</div>
	</div>
	<%= render :partial => "partials/footer" %>
</body>
</html>